xml-schema-utils/src/test/resources/schema/$ahV10.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "urn:swift:xsd:$ahV10"
	 targetNamespace = "urn:swift:xsd:$ahV10"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<!--Schema version 2.3.2 - Generated by SWIFTStandards Workstation (build:R2.3.2.2_DEV) on Jun 25 12:07:27-->
	
	<xs:element name = "AppHdr" type = "AppHdr"/>
	<xs:complexType name = "AppHdr">
		<xs:sequence>
			<xs:element name = "From" type = "EntityIdentification" minOccurs = "0"/>
			<xs:element name = "To" type = "EntityIdentification" minOccurs = "0"/>
			<xs:element name = "SvcName" type = "Max30Text" minOccurs = "0"/>
			<xs:element name = "MsgName" type = "Max30Text" minOccurs = "0"/>
			<xs:element name = "MsgRef" type = "Max30Text"/>
			<xs:element name = "CrDate" type = "ISODateTime"/>
			<xs:element name = "Dup" type = "DuplicateIndication" minOccurs = "0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "EntityIdentification">
		<xs:sequence>
			<xs:element name = "Type" type = "Max4Text"/>
			<xs:element name = "Id" type = "Max30Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "DuplicateIndication">
		<xs:sequence>
			<xs:element name = "Ref" type = "Max30Text"/>
			<xs:element name = "Info" type = "Max140Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name = "Max140Text">
		<xs:restriction base = "xs:string">
			<xs:maxLength value = "140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "Max30Text">
		<xs:restriction base = "xs:string">
			<xs:maxLength value = "30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "Max4Text">
		<xs:restriction base = "xs:string">
			<xs:maxLength value = "4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "ISODateTime">
		<xs:restriction base = "xs:dateTime"/>
	</xs:simpleType>
</xs:schema>