xml-schema-utils/src/test/resources/schema/app_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ch:bbp:fms:meta:messaging:info"
	xmlns:info="urn:ch:bbp:fms:meta:messaging:info" elementFormDefault="qualified">

  <element name="fin-format" type="string"/>
  <element name="separator" type="string"/>
  <element name="sep-prefix" type="string"/>
  <element name="sep-suffix" type="string"/>
  <element name="tag" type="string"/>

</schema>
