xml-schema-utils/src/test/resources/schema/fin.mt102.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   FIN MT 102 
   version v2012 (igt-version SR2011_MODIFIED-BBP-ONLY-SR2010_January2011)
   transformed by trafo.xsl v.0.8.0 on September 25th, 2012 at 22:00:30

   Copyright © BBP AG, Baden, Switzerland
-->
<xs:schema xmlns:igt="urn:ch:bbp:fms:meta:messaging:igt"
           xmlns:info="urn:ch:bbp:fms:meta:messaging:info"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:ch:bbp:fms:meta:messaging:fin:mt102"
           xmlns="urn:ch:bbp:fms:meta:messaging:fin:mt102"
           elementFormDefault="qualified">
   <xs:element name="Document" type="Document"/>
   <xs:complexType name="AbstractComplexType" abstract="true"/>
   <xs:complexType name="Document">
      <xs:sequence>
         <xs:element name="Mt102" type="Mt102"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="F13C">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F13C_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F19">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F19_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F20">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F20_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F21">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F21_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F23">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F23_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F26T">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F26T_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F32A">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F32A_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F32B">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F32B_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F33B">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F33B_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F36">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F36_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F50A">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F50A_Line_1" minOccurs="0"/>
               <xs:group ref="F50A_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F50F">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F50F_Line_1"/>
               <xs:group ref="F50F_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F50K">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F50K_Line_1" minOccurs="0"/>
               <xs:group ref="F50K_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F51A">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F51A_Line_1" minOccurs="0"/>
               <xs:group ref="F51A_Line_2"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F52A">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F52A_Line_1" minOccurs="0"/>
               <xs:group ref="F52A_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F52B">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F52B_Line_1" minOccurs="0"/>
               <xs:group ref="F52B_Line_2" minOccurs="0"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F52C">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F52C_Line_1"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F53A">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F53A_Line_1" minOccurs="0"/>
               <xs:group ref="F53A_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F53C">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F53C_Line_1"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F54A">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F54A_Line_1" minOccurs="0"/>
               <xs:group ref="F54A_Line_2"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F57A">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F57A_Line_1" minOccurs="0"/>
               <xs:group ref="F57A_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F57C">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F57C_Line_1"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F59">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F59_Line_1" minOccurs="0"/>
               <xs:group ref="F59_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F59A">
      <xs:complexContent>
         <xs:extension base="MtFieldOption">
            <xs:choice>
               <xs:group ref="F59A_Line_1" minOccurs="0"/>
               <xs:group ref="F59A_Line_2"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F70">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F70_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F71A">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F71A_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F71F">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F71F_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F71G">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F71G_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F72">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F72_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="F77B">
      <xs:complexContent>
         <xs:extension base="MtField">
            <xs:sequence>
               <xs:group ref="F77B_Line_1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Field" abstract="true"/>
   <xs:complexType name="FieldFixedLength" abstract="true"/>
   <xs:complexType name="FieldGeneric" abstract="true"/>
   <xs:complexType name="FieldSimple" abstract="true"/>
   <xs:complexType name="Mt102">
      <xs:complexContent>
         <xs:extension base="MtMessage">
            <xs:sequence>
               <xs:group ref="Seq_SequenceA"/>
               <xs:group ref="Seq_SequenceB" maxOccurs="unbounded"/>
               <xs:group ref="Seq_SequenceC"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MtField" abstract="true"/>
   <xs:complexType name="MtFieldOption" abstract="true"/>
   <xs:complexType name="MtMessage" abstract="true"/>
   <xs:complexType name="Narrative" abstract="true"/>
   <xs:complexType name="Sequence" abstract="true"/>
   <xs:group name="F13C_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Code" type="CodeFinTimeInd">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="8c"/>
                  <info:tag value="Code"/>
                  <info:sep-prefix value="/"/>
                  <info:sep-postfix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
                            codeType="FIN-TIME-IND"
                            forceCase="uppercase"
                            format="8c"
                            id="Code"
                            mandatory="true"
                            maxChar="8"
                            postfix="/"
                            prefix="/"
                            regexp="[A-Z0-9]{1,8}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="TimeIndication" type="DateTimeHHmm">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!n"/>
                  <info:tag value="Time Indication"/>
                  <igt:info dateFormat="HHmm"
                            format="4!n"
                            id="Time Indication"
                            mandatory="true"
                            regexp="[0-9]{4}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Sign" type="CodeSign">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!x"/>
                  <info:tag value="Sign"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="1!x"
                            id="Sign"
                            mandatory="true"
                            maxChar="1"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="TimeOffset" type="DateTimeHHmm">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!n"/>
                  <info:tag value="Time Offset"/>
                  <igt:info dateFormat="HHmm"
                            format="4!n"
                            id="Time Offset"
                            mandatory="true"
                            regexp="[0-9]{4}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F19_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Amountsum" type="Amountsum">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
               <xs:appinfo>
                  <info:fin-format value="17d"/>
                  <info:tag value="AmountSum"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="17d"
                            id="AmountSum"
                            mandatory="true"
                            maxChar="17"
                            regexp="(?:\d+,\d*){1,17}"
                            tag="Amount"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F20_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Reference" type="Reference">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="16x"/>
                  <info:tag value="Reference"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="16x"
                            id="Reference"
                            mandatory="true"
                            maxChar="16"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,16}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F21_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Reference" type="Reference">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="16x"/>
                  <info:tag value="Reference"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="16x"
                            id="Reference"
                            mandatory="true"
                            maxChar="16"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,16}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F23_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Code" type="CodeFinBankOper">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="6a"/>
                  <info:tag value="Code"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="FIN-BANK-OPER"
                            forceCase="uppercase"
                            format="6a"
                            id="Code"
                            mandatory="true"
                            maxChar="6"
                            regexp="[A-Z]{1,6}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F26T_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Type" type="Type">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!c"/>
                  <info:tag value="Type"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
                            forceCase="uppercase"
                            format="3!c"
                            id="Type"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z0-9]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F32A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Date" type="DateTimeyyMMdd">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="6!n"/>
                  <info:tag value="Date"/>
                  <igt:info dateFormat="yyMMdd"
                            format="6!n"
                            id="Date"
                            mandatory="true"
                            regexp="[0-9]{6}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Currency" type="CodeCurrencyCode">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!a"/>
                  <info:tag value="Currency"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="CURRENCY-CODE"
                            forceCase="uppercase"
                            format="3!a"
                            id="Currency"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Amount" type="Amount">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="15d"/>
                  <info:tag value="Amount"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="15d"
                            id="Amount"
                            mandatory="true"
                            maxChar="15"
                            regexp="(?:\d+,\d*){1,15}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F32B_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Currency" type="CodeCurrencyCode">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!a"/>
                  <info:tag value="Currency"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="CURRENCY-CODE"
                            forceCase="uppercase"
                            format="3!a"
                            id="Currency"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Amount" type="Amount">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="15d"/>
                  <info:tag value="Amount"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="15d"
                            id="Amount"
                            mandatory="true"
                            maxChar="15"
                            regexp="(?:\d+,\d*){1,15}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F33B_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Currency" type="CodeCurrencyCode">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!a"/>
                  <info:tag value="Currency"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="CURRENCY-CODE"
                            forceCase="uppercase"
                            format="3!a"
                            id="Currency"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Amount" type="Amount">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="15d"/>
                  <info:tag value="Amount"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="15d"
                            id="Amount"
                            mandatory="true"
                            maxChar="15"
                            regexp="(?:\d+,\d*){1,15}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F36_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Rate" type="Rate">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="12d"/>
                  <info:tag value="Rate"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="12d"
                            id="Rate"
                            mandatory="true"
                            maxChar="12"
                            regexp="(?:\d+,\d*){1,12}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F50A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Account" type="Account" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Account"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Account"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F50A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BicBei" type="CodeBicBei">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC/BEI"/>
                  <igt:info codeType="BIC/BEI"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC/BEI"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F50F_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PartyIdentifier" type="PartyIdentifier35x">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="35x"/>
                  <info:tag value="Party Identifier"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="35x"
                            id="Party Identifier"
                            mandatory="true"
                            maxChar="35"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F50F_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NameAndAddress" type="NameAndAddress">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4*35x"/>
                  <info:tag value="Name and Address"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="4*35x"
                            id="Name and Address"
                            mandatory="true"
                            maxChar="35"
                            maxLine="4"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}(?:(?!~l~[:-]|~l~[ ]+~l~)~l~[A-Za-z0-9/\-?:().,'+ ]{1,35}){0,3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F50K_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Account" type="Account" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Account"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Account"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F50K_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NameAndAddress" type="NameAndAddress">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4*35x"/>
                  <info:tag value="Name and Address"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="4*35x"
                            id="Name and Address"
                            mandatory="true"
                            maxChar="35"
                            maxLine="4"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}(?:(?!~l~[:-]|~l~[ ]+~l~)~l~[A-Za-z0-9/\-?:().,'+ ]{1,35}){0,3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F51A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DebitCreditIndicator"
                     type="CodeDebitCreditIndicator"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!a"/>
                  <info:tag value="Debit/Credit Indicator"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            forceCase="uppercase"
                            format="1!a"
                            id="Debit/Credit Indicator"
                            mandatory="false"
                            maxChar="1"
                            prefix="/"
                            regexp="[CD]{1}(?=/|\Z)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F51A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Bic" type="CodeBic">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC"/>
                  <igt:info codeType="BIC"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F52A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DebitCreditIndicator"
                     type="CodeDebitCreditIndicator"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!a"/>
                  <info:tag value="Debit/Credit Indicator"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            forceCase="uppercase"
                            format="1!a"
                            id="Debit/Credit Indicator"
                            mandatory="false"
                            maxChar="1"
                            prefix="/"
                            regexp="[CD]{1}(?=/|\Z)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F52A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Bic" type="CodeBic">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC"/>
                  <igt:info codeType="BIC"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F52B_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DebitCreditIndicator"
                     type="CodeDebitCreditIndicator"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!a"/>
                  <info:tag value="Debit/Credit Indicator"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            forceCase="uppercase"
                            format="1!a"
                            id="Debit/Credit Indicator"
                            mandatory="false"
                            maxChar="1"
                            prefix="/"
                            regexp="[CD]{1}(?=/|\Z)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F52B_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Location" type="Location" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="35x"/>
                  <info:tag value="Location"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="35x"
                            id="Location"
                            mandatory="false"
                            maxChar="35"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F52C_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="true"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F53A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DebitCreditIndicator"
                     type="CodeDebitCreditIndicator"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!a"/>
                  <info:tag value="Debit/Credit Indicator"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            forceCase="uppercase"
                            format="1!a"
                            id="Debit/Credit Indicator"
                            mandatory="false"
                            maxChar="1"
                            prefix="/"
                            regexp="[CD]{1}(?=/|\Z)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F53A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Bic" type="CodeBic">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC"/>
                  <igt:info codeType="BIC"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F53C_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Account" type="Account">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Account"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Account"
                            mandatory="true"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F54A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DebitCreditIndicator"
                     type="CodeDebitCreditIndicator"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!a"/>
                  <info:tag value="Debit/Credit Indicator"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            forceCase="uppercase"
                            format="1!a"
                            id="Debit/Credit Indicator"
                            mandatory="false"
                            maxChar="1"
                            prefix="/"
                            regexp="[CD]{1}(?=/|\Z)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F54A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Bic" type="CodeBic">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC"/>
                  <igt:info codeType="BIC"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F57A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DebitCreditIndicator"
                     type="CodeDebitCreditIndicator"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="1!a"/>
                  <info:tag value="Debit/Credit Indicator"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            forceCase="uppercase"
                            format="1!a"
                            id="Debit/Credit Indicator"
                            mandatory="false"
                            maxChar="1"
                            prefix="/"
                            regexp="[CD]{1}(?=/|\Z)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F57A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Bic" type="CodeBic">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC"/>
                  <igt:info codeType="BIC"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F57C_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PartyIdentifier" type="PartyIdentifier34x">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Party Identifier"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Party Identifier"
                            mandatory="true"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F59A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Account" type="Account" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Account"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Account"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F59A_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BicBei" type="CodeBicBei">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4!a2!a2!c[3!c]"/>
                  <info:tag value="BIC/BEI"/>
                  <igt:info codeType="BIC/BEI"
                            forceCase="uppercase"
                            format="4!a2!a2!c[3!c]"
                            id="BIC/BEI"
                            mandatory="true"
                            maxChar="11"
                            regexp="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(?:[A-Z0-9]{3})?"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F59_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="false"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Account" type="Account" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="34x"/>
                  <info:tag value="Account"/>
                  <info:sep-prefix value="/"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="34x"
                            id="Account"
                            mandatory="false"
                            maxChar="34"
                            prefix="/"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F59_Line_2">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="2"/>
            <igt:info id="2" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NameAndAddress" type="NameAndAddress">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4*35x"/>
                  <info:tag value="Name and Address"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="4*35x"
                            id="Name and Address"
                            mandatory="true"
                            maxChar="35"
                            maxLine="4"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}(?:(?!~l~[:-]|~l~[ ]+~l~)~l~[A-Za-z0-9/\-?:().,'+ ]{1,35}){0,3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F70_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RemittanceInformation" type="Information4S35x">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="4*35x"/>
                  <info:tag value="Remittance Information"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="4*35x"
                            id="Remittance Information"
                            mandatory="true"
                            maxChar="35"
                            maxLine="4"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}(?:(?!~l~[:-]|~l~[ ]+~l~)~l~[A-Za-z0-9/\-?:().,'+ ]{1,35}){0,3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F71A_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Code" type="CodeFinTransCharges">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!a"/>
                  <info:tag value="Code"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="FIN-TRANS-CHARGES"
                            forceCase="uppercase"
                            format="3!a"
                            id="Code"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F71F_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Currency" type="CodeCurrencyCode">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!a"/>
                  <info:tag value="Currency"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="CURRENCY-CODE"
                            forceCase="uppercase"
                            format="3!a"
                            id="Currency"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Amount" type="Amount">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="15d"/>
                  <info:tag value="Amount"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="15d"
                            id="Amount"
                            mandatory="true"
                            maxChar="15"
                            regexp="(?:\d+,\d*){1,15}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F71G_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Currency" type="CodeCurrencyCode">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3!a"/>
                  <info:tag value="Currency"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            codeType="CURRENCY-CODE"
                            forceCase="uppercase"
                            format="3!a"
                            id="Currency"
                            mandatory="true"
                            maxChar="3"
                            regexp="[A-Z]{3}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Amount" type="Amount">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="15d"/>
                  <info:tag value="Amount"/>
                  <igt:info charSet="0123456789.'"
                            decimalSeparator=","
                            format="15d"
                            id="Amount"
                            mandatory="true"
                            maxChar="15"
                            regexp="(?:\d+,\d*){1,15}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F72_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NarrativeStructuredFormat" type="Narrative6S35x">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="6*35x"/>
                  <info:tag value="Narrative - Structured Format"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="6*35x"
                            id="Narrative - Structured Format"
                            mandatory="true"
                            maxChar="35"
                            maxLine="6"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}(?:(?!~l~[:-]|~l~[ ]+~l~)~l~[A-Za-z0-9/\-?:().,'+ ]{1,35}){0,5}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="F77B_Line_1">
      <xs:annotation>
         <xs:appinfo>
            <info:tag value="1"/>
            <igt:info id="1" mandatory="true"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Narrative" type="Narrative3S35x">
            <xs:annotation>
               <xs:appinfo>
                  <info:fin-format value="3*35x"/>
                  <info:tag value="Narrative"/>
                  <igt:info charSet="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/-?:().,'+{} "
                            format="3*35x"
                            id="Narrative"
                            mandatory="true"
                            maxChar="35"
                            maxLine="3"
                            regexp="[A-Za-z0-9/\-?:().,'+  ]{1,35}(?:(?!~l~[:-]|~l~[ ]+~l~)~l~[A-Za-z0-9/\-?:().,'+ ]{1,35}){0,2}"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="Opt_50a">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">50a: Ordering Customer</xs:documentation>
         <xs:appinfo>
            <info:tag value="50a"/>
            <igt:info id="50a" mandatory="false" tag="50a: Ordering Customer"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:choice>
         <xs:element name="F50A" type="F50A">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">50A: BIC/BEI</xs:documentation>
               <xs:appinfo>
                  <info:tag value="50A"/>
                  <igt:info id="50A" tag="50A: BIC/BEI"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F50F" type="F50F">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">50F: Party Identifier - Name and Address</xs:documentation>
               <xs:appinfo>
                  <info:tag value="50F"/>
                  <igt:info id="50F"
                            printTag="50F: Ordering Customer (Party Identifier - Name and Address)"
                            tag="50F: Party Identifier - Name and Address"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F50K" type="F50K">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">50K: Name and Address</xs:documentation>
               <xs:appinfo>
                  <info:tag value="50K"/>
                  <igt:info id="50K" tag="50K: Name and Address"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:group>
   <xs:group name="Opt_52a">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">52a: Ordering Institution</xs:documentation>
         <xs:appinfo>
            <info:tag value="52a"/>
            <igt:info id="52a" mandatory="false" tag="52a: Ordering Institution"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:choice>
         <xs:element name="F52A" type="F52A">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">52A: BIC</xs:documentation>
               <xs:appinfo>
                  <info:tag value="52A"/>
                  <igt:info id="52A" tag="52A: BIC"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F52B" type="F52B">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">52B: Location</xs:documentation>
               <xs:appinfo>
                  <info:tag value="52B"/>
                  <igt:info id="52B" tag="52B: Location"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F52C" type="F52C">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">52C: Party Identifier only</xs:documentation>
               <xs:appinfo>
                  <info:tag value="52C"/>
                  <igt:info id="52C" tag="52C: Party Identifier only"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:group>
   <xs:group name="Opt_53a">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">53a: Sender Correspondent</xs:documentation>
         <xs:appinfo>
            <info:tag value="53a"/>
            <igt:info id="53a" mandatory="false" tag="53a: Sender Correspondent"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:choice>
         <xs:element name="F53A" type="F53A">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">53A: BIC</xs:documentation>
               <xs:appinfo>
                  <info:tag value="53A"/>
                  <igt:info id="53A" tag="53A: BIC"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F53C" type="F53C">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">53C: Account</xs:documentation>
               <xs:appinfo>
                  <info:tag value="53C"/>
                  <igt:info id="53C" tag="53C: Account"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:group>
   <xs:group name="Opt_57a">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">57a: Account With Institution</xs:documentation>
         <xs:appinfo>
            <info:tag value="57a"/>
            <igt:info id="57a" mandatory="false" tag="57a: Account With Institution"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:choice>
         <xs:element name="F57A" type="F57A">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">57A: BIC</xs:documentation>
               <xs:appinfo>
                  <info:tag value="57A"/>
                  <igt:info id="57A" tag="57A: BIC"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F57C" type="F57C">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">57C: Party Identifier only</xs:documentation>
               <xs:appinfo>
                  <info:tag value="57C"/>
                  <igt:info id="57C" tag="57C: Party Identifier only"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:group>
   <xs:group name="Opt_59a">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">59a: Beneficiary Customer</xs:documentation>
         <xs:appinfo>
            <info:tag value="59a"/>
            <igt:info id="59a" mandatory="true" tag="59a: Beneficiary Customer"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:choice>
         <xs:element name="F59A" type="F59A">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">59A: BIC</xs:documentation>
               <xs:appinfo>
                  <info:tag value="59A"/>
                  <igt:info id="59A" tag="59A: BIC"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F59" type="F59">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">59 : Name and Address</xs:documentation>
               <xs:appinfo>
                  <info:tag value="59"/>
                  <igt:info id="59" tag="59 : Name and Address"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:group>
   <xs:group name="Seq_SequenceA">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">Mandatory Sequence A General Information</xs:documentation>
         <xs:appinfo>
            <info:tag value="SequenceA"/>
            <igt:info id="SequenceA"
                      mandatory="true"
                      tag="Mandatory Sequence A General Information"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="F20" type="F20">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">20 : File Reference</xs:documentation>
               <xs:appinfo>
                  <info:tag value="20"/>
                  <igt:info id="20" mandatory="true" tag="20 : File Reference"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F23" type="F23">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">23 : Bank Operation Code</xs:documentation>
               <xs:appinfo>
                  <info:tag value="23"/>
                  <igt:info id="23" mandatory="true" tag="23 : Bank Operation Code"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F51A" type="F51A" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">51A: Sending Institution (BIC) (BIC)</xs:documentation>
               <xs:appinfo>
                  <info:tag value="51A"/>
                  <igt:info id="51A"
                            mandatory="false"
                            tag="51A: Sending Institution (BIC) (BIC)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:group ref="Opt_50a" minOccurs="0"/>
         <xs:group ref="Opt_52a" minOccurs="0"/>
         <xs:element name="F26T" type="F26T" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">26T: Transaction Type Code</xs:documentation>
               <xs:appinfo>
                  <info:tag value="26T"/>
                  <igt:info id="26T" mandatory="false" tag="26T: Transaction Type Code"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F77B" type="F77B" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">77B: Regulatory Reporting</xs:documentation>
               <xs:appinfo>
                  <info:tag value="77B"/>
                  <igt:info id="77B" mandatory="false" tag="77B: Regulatory Reporting"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F71A" type="F71A" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">71A: Details of Charges</xs:documentation>
               <xs:appinfo>
                  <info:tag value="71A"/>
                  <igt:info id="71A" mandatory="false" tag="71A: Details of Charges"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F36" type="F36" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">36 : Exchange Rate</xs:documentation>
               <xs:appinfo>
                  <info:tag value="36"/>
                  <igt:info id="36" mandatory="false" tag="36 : Exchange Rate"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="Seq_SequenceB">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">Mandatory Repetitive Sequence B Transaction Details</xs:documentation>
         <xs:appinfo>
            <info:tag value="SequenceB"/>
            <igt:info id="SequenceB"
                      mandatory="true"
                      repetitive="true"
                      tag="Mandatory Repetitive Sequence B Transaction Details"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="F21" type="F21">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">21 : Transaction Reference</xs:documentation>
               <xs:appinfo>
                  <info:tag value="21"/>
                  <igt:info id="21" mandatory="true" tag="21 : Transaction Reference"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F32B" type="F32B">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">32B: Transaction Amount</xs:documentation>
               <xs:appinfo>
                  <info:tag value="32B"/>
                  <igt:info id="32B" mandatory="true" tag="32B: Transaction Amount"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:group ref="Opt_50a" minOccurs="0"/>
         <xs:group ref="Opt_52a" minOccurs="0"/>
         <xs:group ref="Opt_57a" minOccurs="0"/>
         <xs:group ref="Opt_59a"/>
         <xs:element name="F70" type="F70" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">70 : Remittance Information</xs:documentation>
               <xs:appinfo>
                  <info:tag value="70"/>
                  <igt:info id="70" mandatory="false" tag="70 : Remittance Information"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F26T" type="F26T" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">26T: Transaction Type Code</xs:documentation>
               <xs:appinfo>
                  <info:tag value="26T"/>
                  <igt:info id="26T" mandatory="false" tag="26T: Transaction Type Code"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F77B" type="F77B" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">77B: Regulatory Reporting</xs:documentation>
               <xs:appinfo>
                  <info:tag value="77B"/>
                  <igt:info id="77B" mandatory="false" tag="77B: Regulatory Reporting"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F33B" type="F33B" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">33B: Currency/Instructed Amount</xs:documentation>
               <xs:appinfo>
                  <info:tag value="33B"/>
                  <igt:info id="33B" mandatory="false" tag="33B: Currency/Instructed Amount"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F71A" type="F71A" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">71A: Details of Charges</xs:documentation>
               <xs:appinfo>
                  <info:tag value="71A"/>
                  <igt:info id="71A" mandatory="false" tag="71A: Details of Charges"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F71F" type="F71F" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">71F: Sender Charges</xs:documentation>
               <xs:appinfo>
                  <info:tag value="71F"/>
                  <igt:info id="71F"
                            mandatory="false"
                            repetitive="true"
                            tag="71F: Sender Charges"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F71G" type="F71G" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">71G: Receiver Charges</xs:documentation>
               <xs:appinfo>
                  <info:tag value="71G"/>
                  <igt:info id="71G" mandatory="false" tag="71G: Receiver Charges"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F36" type="F36" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">36 : Exchange Rate</xs:documentation>
               <xs:appinfo>
                  <info:tag value="36"/>
                  <igt:info id="36" mandatory="false" tag="36 : Exchange Rate"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:group name="Seq_SequenceC">
      <xs:annotation>
         <xs:documentation source="Name" xml:lang="EN">Mandatory Sequence C Settlement Details</xs:documentation>
         <xs:appinfo>
            <info:tag value="SequenceC"/>
            <igt:info id="SequenceC"
                      mandatory="true"
                      tag="Mandatory Sequence C Settlement Details"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="F32A" type="F32A">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">32A: Value Date, Currency Code, Amount</xs:documentation>
               <xs:appinfo>
                  <info:tag value="32A"/>
                  <igt:info id="32A"
                            mandatory="true"
                            tag="32A: Value Date, Currency Code, Amount"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F19" type="F19" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">19 : Sum of Amounts</xs:documentation>
               <xs:appinfo>
                  <info:tag value="19"/>
                  <igt:info id="19" mandatory="false" tag="19 : Sum of Amounts"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F71G" type="F71G" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">71G: Sum of Receiver Charges</xs:documentation>
               <xs:appinfo>
                  <info:tag value="71G"/>
                  <igt:info id="71G" mandatory="false" tag="71G: Sum of Receiver Charges"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F13C" type="F13C" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">13C: Time Indication</xs:documentation>
               <xs:appinfo>
                  <info:tag value="13C"/>
                  <igt:info id="13C"
                            mandatory="false"
                            repetitive="true"
                            tag="13C: Time Indication"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:group ref="Opt_53a" minOccurs="0"/>
         <xs:element name="F54A" type="F54A" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">54A: Receiver Correspondent (BIC)</xs:documentation>
               <xs:appinfo>
                  <info:tag value="54A"/>
                  <igt:info id="54A" mandatory="false" tag="54A: Receiver Correspondent (BIC)"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="F72" type="F72" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="Name" xml:lang="EN">72 : Sender to Receiver Information</xs:documentation>
               <xs:appinfo>
                  <info:tag value="72"/>
                  <igt:info id="72" mandatory="false" tag="72 : Sender to Receiver Information"/>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:group>
   <xs:simpleType name="Account">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="34"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Amount">
      <xs:restriction base="xs:string">
         <xs:minLength value="2"/>
         <xs:maxLength value="15"/>
         <xs:pattern value="[0-9]+,[0-9]*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Amountsum">
      <xs:restriction base="xs:string">
         <xs:minLength value="2"/>
         <xs:maxLength value="17"/>
         <xs:pattern value="[0-9]+,[0-9]*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeBic">
      <xs:restriction base="xs:string">
         <xs:maxLength value="11"/>
         <xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeBicBei">
      <xs:restriction base="xs:string">
         <xs:maxLength value="11"/>
         <xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeCurrencyCode">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
         <xs:pattern value="[A-Z]{3}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeDebitCreditIndicator">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
         <xs:pattern value="[CD]{1}"/>
         <xs:enumeration value="C"/>
         <xs:enumeration value="D"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeFinBankOper">
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
         <xs:pattern value="[A-Z]{1,6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeFinTimeInd">
      <xs:restriction base="xs:string">
         <xs:maxLength value="8"/>
         <xs:pattern value="[A-Z0-9]{1,8}"/>
         <xs:enumeration value="CLSTIME"/>
         <xs:enumeration value="RNCTIME"/>
         <xs:enumeration value="SNDTIME"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeFinTransCharges">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
         <xs:pattern value="[A-Z]{3}"/>
         <xs:enumeration value="BEN"/>
         <xs:enumeration value="OUR"/>
         <xs:enumeration value="SHA"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CodeSign">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+  ]{1}"/>
         <xs:enumeration value="+"/>
         <xs:enumeration value="-"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeHHmm">
      <xs:restriction base="xs:string">
         <xs:minLength value="4"/>
         <xs:maxLength value="4"/>
         <xs:pattern value="[0-9]{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeyyMMdd">
      <xs:restriction base="xs:string">
         <xs:minLength value="6"/>
         <xs:maxLength value="6"/>
         <xs:pattern value="[0-9]{6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Information4S35x">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+ ]{1,35}$(^[A-Za-z0-9/\-?:().,'+ ]{1,35}$){0,3}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Location">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+  ]{1,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NameAndAddress">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+ ]{1,35}$(^[A-Za-z0-9/\-?:().,'+ ]{1,35}$){0,3}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Narrative3S35x">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+ ]{1,35}$(^[A-Za-z0-9/\-?:().,'+ ]{1,35}$){0,2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Narrative6S35x">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+ ]{1,35}$(^[A-Za-z0-9/\-?:().,'+ ]{1,35}$){0,5}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PartyIdentifier34x">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="34"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+  ]{1,34}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PartyIdentifier35x">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+  ]{1,35}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Rate">
      <xs:restriction base="xs:string">
         <xs:minLength value="2"/>
         <xs:maxLength value="12"/>
         <xs:pattern value="[0-9]+,[0-9]*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Reference">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="16"/>
         <xs:pattern value="[A-Za-z0-9/\-?:().,'+  ]{1,16}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Type">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="3"/>
         <xs:pattern value="[A-Z0-9]{3}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
