xml-schema-utils/src/test/resources/schema/SwGbl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Sep 25 -->
<xs:schema xmlns="urn:swift:snl:ns.SwGbl" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:snl:ns.SwGbl" elementFormDefault="qualified">
    <xs:element name="Severity" type="PCDATA" />
    <xs:element name="Code" type="PCDATA" />
    <xs:element name="Parameter" type="MixedAny" />
    <xs:element name="Text" type="PCDATA" />
    <xs:element name="Action" type="PCDATA" />
    <xs:element name="Details" type="Details" />
    <xs:complexType name="Details">
        <xs:sequence>
            <xs:element name="Code" type="PCDATA" />
            <xs:element name="Text" type="PCDATA" minOccurs="0" />
            <xs:element name="Action" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MixedAny" mixed="true">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="Status">
        <xs:sequence>
            <xs:element name="StatusAttributes" type="StatusAttributes" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusAttributes">
        <xs:sequence>
            <xs:element name="Severity" type="PCDATA" />
            <xs:element name="Code" type="PCDATA" />
            <xs:element name="Parameter" type="MixedAny" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Text" type="PCDATA" minOccurs="0" />
            <xs:element name="Action" type="PCDATA" minOccurs="0" />
            <xs:element name="Details" type="Details" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Status" type="Status" />
    <xs:element name="StatusAttributes" type="StatusAttributes" />
</xs:schema>

