xml-schema-utils/src/test/resources/schema/SwSec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Sep 25 -->
<xs:schema xmlns="urn:swift:snl:ns.SwSec" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:Sw="urn:swift:snl:ns.Sw" targetNamespace="urn:swift:snl:ns.SwSec" elementFormDefault="qualified">
    <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd" />
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd" />
    <xs:element name="FileName" type="PCDATA" />
    <xs:element name="Password" type="PCDATA" />
    <xs:element name="Sign" type="PCDATA" />
    <xs:element name="Decrypt" type="PCDATA" />
    <xs:element name="Authorisation" type="PCDATA" />
    <xs:element name="CryptoControl" type="CryptoControl" />
    <xs:element name="CryptoInfo" type="CryptoInfo" />
    <xs:element name="CryptoDescriptor" type="CryptoDescriptor" />
    <xs:element name="CryptoUserInfo" type="MixedAny" />
    <xs:element name="MemberRef" type="PCDATA" />
    <xs:element name="EncryptDN" type="PCDATA" />
    <xs:element name="SecurityContext" type="SecurityContext" />
    <xs:element name="CertPolicyId" type="PCDATA" />
    <xs:element name="SecToSecureData" type="MixedAny" />
    <xs:element name="SignedInfo" type="SignedInfo" />
    <xs:element name="KeyInfo" type="KeyInfo" />
    <xs:element name="Manifest" type="Manifest" />
    <xs:element name="Signature" type="Signature" />
    <xs:element name="SwiftVerifiedRevocation" type="PCDATA" />
    <xs:element name="SecUnsecuredData" type="MixedAny" />
    <xs:complexType name="CreateContextRequest">
        <xs:sequence>
            <xs:element name="FileName" type="PCDATA" />
            <xs:element name="Password" type="PCDATA" />
            <xs:element name="Sign" type="PCDATA" />
            <xs:element name="Decrypt" type="PCDATA" />
            <xs:element name="Authorisation" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateContextResponse">
        <xs:sequence>
            <xs:element name="SecurityContext" type="SecurityContext" minOccurs="0" />
            <xs:element name="CertPolicyId" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Crypto">
        <xs:sequence>
            <xs:choice>
                <xs:element name="CryptoControl" type="CryptoControl" />
                <xs:sequence>
                    <xs:element name="CryptoInternal" type="MixedAny" />
                    <xs:choice>
                        <xs:element name="CryptoInfo" type="CryptoInfo" />
                        <xs:element name="CryptoDescriptor" type="CryptoDescriptor" />
                    </xs:choice>
                </xs:sequence>
                <xs:element name="CryptoDescriptor" type="CryptoDescriptor" />
            </xs:choice>
            <xs:element name="CryptoUserInfo" type="MixedAny" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CryptoControl">
        <xs:sequence>
            <xs:element name="MemberRef" type="PCDATA" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="EncryptDN" type="PCDATA" minOccurs="0" />
            <xs:element name="SignDN" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CryptoDescriptor">
        <xs:sequence>
            <xs:element name="MemberRef" type="PCDATA" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="EncryptDN" type="PCDATA" minOccurs="0" />
            <xs:element name="SignDN" type="PCDATA" minOccurs="0" />
            <xs:element name="CertPolicyId" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CryptoInfo">
        <xs:sequence>
            <xs:element name="MemberRef" type="PCDATA" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="EncryptDN" type="PCDATA" minOccurs="0" />
            <xs:element name="SignDN" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DestroyContextRequest">
        <xs:sequence>
            <xs:element name="SecurityContext" type="SecurityContext" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DestroyContextResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyInfo">
        <xs:sequence>
            <xs:element name="SignDN" type="PCDATA" />
            <xs:element name="CertPolicyId" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Manifest">
        <xs:sequence>
            <xs:element ref="Sw:Reference" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MixedAny" mixed="true">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="SecurityContext">
        <xs:sequence>
            <xs:element name="UserDN" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignEncryptRequest">
        <xs:sequence>
            <xs:element name="AuthorisationContext" type="SecurityContext" />
            <xs:element name="SecToSecureData" type="MixedAny" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignEncryptResponse">
        <xs:sequence>
            <xs:element name="SecSecuredData" type="MixedAny" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signature">
        <xs:sequence>
            <xs:element name="SignedInfo" type="SignedInfo" minOccurs="0" />
            <xs:element name="SignatureValue" type="PCDATA" minOccurs="0" />
            <xs:element name="KeyInfo" type="KeyInfo" />
            <xs:element name="Manifest" type="Manifest" />
            <xs:element ref="Sw:Object" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignatureList">
        <xs:sequence>
            <xs:element name="Signature" type="Signature" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedInfo">
        <xs:sequence>
            <xs:element ref="Sw:Reference" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AuthorisationContext" type="SecurityContext" />
    <xs:element name="Crypto" type="Crypto" />
    <xs:element name="SignatureList" type="SignatureList" />
    <xs:element name="CipherKey" type="PCDATA" />
    <xs:element name="CipherText" type="PCDATA" />
    <xs:element name="CryptoProtocol" type="PCDATA" />
    <xs:element name="AuthorisationSignatureValue" type="PCDATA" />
    <xs:element name="CreateContextRequest" type="CreateContextRequest" />
    <xs:element name="CreateContextResponse" type="CreateContextResponse" />
    <xs:element name="DestroyContextRequest" type="DestroyContextRequest" />
    <xs:element name="DestroyContextResponse" type="DestroyContextResponse" />
    <xs:element name="SignEncryptRequest" type="SignEncryptRequest" />
    <xs:element name="SignEncryptResponse" type="SignEncryptResponse" />
    <xs:element name="VerifyDecryptRequest" type="VerifyDecryptRequest" />
    <xs:element name="VerifyDecryptResponse" type="VerifyDecryptResponse" />
    <xs:element name="SecSecuredData" type="MixedAny" />
    <xs:element name="CryptoInternal" type="MixedAny" />
    <xs:element name="SignatureValue" type="PCDATA" />
    <xs:element name="UserDN" type="PCDATA" />
    <xs:element name="SignDN" type="PCDATA" />
    <xs:complexType name="VerifyDecryptRequest">
        <xs:sequence>
            <xs:element name="AuthorisationContext" type="SecurityContext" />
            <xs:element name="SwiftVerifiedRevocation" type="PCDATA" minOccurs="0" />
            <xs:element name="SecSecuredData" type="MixedAny" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VerifyDecryptResponse">
        <xs:sequence>
            <xs:element name="SecUnsecuredData" type="MixedAny" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

