xml-utils/src/test/resources/input/SwInt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Nov 24 15:15:21 -->
<xs:schema xmlns="urn:swift:snl:ns.SwInt" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:Sw="urn:swift:snl:ns.Sw" xmlns:SwSec="urn:swift:snl:ns.SwSec" targetNamespace="urn:swift:snl:ns.SwInt" elementFormDefault="qualified">
    <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd" />
    <xs:import namespace="urn:swift:snl:ns.Sw" schemaLocation="Sw.xsd" />
    <xs:import namespace="urn:swift:snl:ns.SwSec" schemaLocation="SwSec.xsd" />
    <xs:element name="DirectAddressing" type="PCDATA" />
    <xs:element name="Response" type="Response" />
    <xs:element name="NRType" type="PCDATA" />
    <xs:element name="NRWarning" type="PCDATA" />
    <xs:element name="RBAC" type="Sw:RBACDescriptor" />
    <xs:element name="ValidationDescriptor" type="ValidationDescriptor" />
    <xs:element name="Request" type="Request" />
    <xs:element name="SendReference" type="WaitDescriptor" />
    <xs:element name="ValResult" type="PCDATA" />
    <xs:element name="ValStatus" type="SwGbl:Status" />
    <xs:element name="WaitAny" type="PCDATA" />
    <xs:element name="Wait" type="PCDATA" />
    <xs:element name="SendReferenceVal" type="PCDATA" />
    <xs:element name="WaitControl" type="WaitControl" />
    <xs:element name="WaitReference" type="WaitDescriptor" />
    <xs:element name="ResponseHandle" type="ResponseHandle" />
    <xs:complexType name="DeliveryCtrl">
        <xs:sequence>
            <xs:element name="DeliveryMode" type="PCDATA" minOccurs="0" />
            <xs:element name="SNLEP" type="PCDATA" minOccurs="0" />
            <xs:element name="DirectAddressing" type="PCDATA" minOccurs="0" />
            <xs:element name="NotifQueue" type="PCDATA" minOccurs="0" />
            <xs:element ref="Sw:DeliveryNotif" minOccurs="0" />
            <xs:element ref="Sw:InputChannelCtrl" minOccurs="0" />
            <xs:element ref="Sw:OverdueWarningDelay" minOccurs="0" />
            <xs:element ref="Sw:OverdueTime" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="Request" type="Request" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeResponse">
        <xs:sequence>
            <xs:element name="ResponseHandle" type="ResponseHandle" minOccurs="0" />
            <xs:element name="SwiftRequestRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleRequest">
        <xs:sequence>
            <xs:element name="RequestHandle" type="RequestHandle" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleResponse">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="Response" type="Response" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>

    </xs:complexType>
    <xs:complexType name="MRRResult">
        <xs:sequence>
            <xs:element name="SNLId" type="PCDATA" />
            <xs:element name="SNLEP" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MixedAnyPayload" mixed="true">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:anyAttribute namespace="##any" processContents="skip" />
    </xs:complexType>
    <xs:complexType name="NonRep">
        <xs:sequence>
            <xs:element name="NRType" type="PCDATA" />
            <xs:element name="NRWarning" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="Request">
        <xs:sequence>
            <xs:element name="RequestControl" type="RequestControl" />
            <xs:element name="ResponseControl" type="ResponseControl" minOccurs="0" />
            <xs:element ref="Sw:RequestE2EControl" minOccurs="0" />
            <xs:element name="RequestHeader" type="RequestHeader" />
            <xs:element name="RequestPayload" type="MixedAnyPayload" minOccurs="0" />
            <xs:choice>
                <xs:element ref="SwSec:Crypto" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestControl">
        <xs:sequence>
            <xs:element name="RequestCrypto" type="PCDATA" minOccurs="0" />
            <xs:element name="NRIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="DeliveryCtrl" type="DeliveryCtrl" minOccurs="0" />
            <xs:element ref="Sw:ProductList" minOccurs="0" />
            <xs:element ref="Sw:ReturnSignatureList" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestDescriptor">
        <xs:sequence>
            <xs:element name="RBAC" type="Sw:RBACDescriptor" minOccurs="0" />
            <xs:element name="SwiftRequestRef" type="PCDATA" />
            <xs:element name="SwiftRef" type="PCDATA" />
            <xs:element name="NonRep" type="NonRep" minOccurs="0" />
            <xs:element name="ValidationDescriptor" type="ValidationDescriptor" minOccurs="0" />
            <xs:element ref="Sw:SnFInputInfo" minOccurs="0" />
            <xs:element ref="Sw:SnFOutputInfo" minOccurs="0" />
            <xs:element name="MRRResult" type="MRRResult" minOccurs="0" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" />
            <xs:element ref="Sw:Copy" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestHandle">
        <xs:sequence>
            <xs:element name="RequestDescriptor" type="RequestDescriptor" />
            <xs:element ref="Sw:RequestE2EControl" minOccurs="0" />
            <xs:element name="RequestHeader" type="RequestHeader" />
            <xs:element name="RequestPayload" type="MixedAnyPayload" minOccurs="0" />
            <xs:choice>
                <xs:element ref="SwSec:Crypto" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestHeader">
        <xs:sequence>
            <xs:element name="Requestor" type="PCDATA" />
            <xs:element name="Responder" type="PCDATA" />
            <xs:element name="Service" type="PCDATA" />
            <xs:element name="RequestType" type="PCDATA" minOccurs="0" />
            <xs:element name="Priority" type="PCDATA" minOccurs="0" />
            <xs:element name="RequestRef" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Response">
        <xs:sequence>
            <xs:element name="ResponseControl" type="ResponseControl" />
            <xs:element ref="Sw:ResponseE2EControl" minOccurs="0" />
            <xs:element name="ResponseHeader" type="ResponseHeader" />
            <xs:element name="ResponsePayload" type="MixedAnyPayload" minOccurs="0" />
            <xs:choice>
                <xs:element ref="SwSec:Crypto" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseControl">
        <xs:sequence>
            <xs:element name="ResponseCrypto" type="PCDATA" minOccurs="0" />
            <xs:element name="NRIndicator" type="PCDATA" minOccurs="0" />
            <xs:element ref="Sw:ProductList" minOccurs="0" />
            <xs:element ref="Sw:ReturnSignatureList" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseDescriptor">
        <xs:sequence>
            <xs:element name="SwiftResponseRef" type="PCDATA" />
            <xs:element name="NonRep" type="NonRep" minOccurs="0" />
            <xs:element name="ValidationDescriptor" type="ValidationDescriptor" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseHandle">
        <xs:sequence>
            <xs:element name="RequestDescriptor" type="RequestDescriptor" />
            <xs:element name="ResponseDescriptor" type="ResponseDescriptor" />
            <xs:element ref="Sw:ResponseE2EControl" minOccurs="0" />
            <xs:element name="ResponseHeader" type="ResponseHeader" />
            <xs:element name="ResponsePayload" type="MixedAnyPayload" minOccurs="0" />
            <xs:choice>
                <xs:element ref="SwSec:Crypto" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseHeader">
        <xs:sequence>
            <xs:element name="Responder" type="PCDATA" />
            <xs:element name="ResponseRef" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SendRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="Request" type="Request" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SendResponse">
        <xs:sequence>
            <xs:element name="SendReference" type="WaitDescriptor" minOccurs="0" />
            <xs:element name="SwiftRequestRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RequestCrypto" type="PCDATA" />
    <xs:element name="NRIndicator" type="PCDATA" />
    <xs:element name="ExchangeRequest" type="ExchangeRequest" />
    <xs:element name="ExchangeResponse" type="ExchangeResponse" />
    <xs:element name="SwiftRequestRef" type="PCDATA" />
    <xs:element name="SNLEP" type="PCDATA" />
    <xs:element name="RequestType" type="PCDATA" />
    <xs:element name="Queue" type="PCDATA" />
    <xs:element name="Requestor" type="PCDATA" />
    <xs:element name="Service" type="PCDATA" />
    <xs:element name="Priority" type="PCDATA" />
    <xs:element name="RequestRef" type="PCDATA" />
    <xs:element name="SNLId" type="PCDATA" />
    <xs:element name="ResponseCrypto" type="PCDATA" />
    <xs:element name="RequestHandle" type="RequestHandle" />
    <xs:element name="SendRequest" type="SendRequest" />
    <xs:element name="SendResponse" type="SendResponse" />
    <xs:element name="WaitRequest" type="WaitRequest" />
    <xs:element name="WaitResponse" type="WaitResponse" />
    <xs:element name="HandleRequest" type="HandleRequest" />
    <xs:element name="HandleResponse" type="HandleResponse" />
    <xs:element name="NonRep" type="NonRep" />
    <xs:element name="MRRResult" type="MRRResult" />
    <xs:element name="ResponseRef" type="PCDATA" />
    <xs:element name="Responder" type="PCDATA" />
    <xs:element name="DeliveryMode" type="PCDATA" />
    <xs:element name="NotifQueue" type="PCDATA" />
    <xs:element name="DeliveryCtrl" type="DeliveryCtrl" />
    <xs:element name="RequestDescriptor" type="RequestDescriptor" />
    <xs:element name="RequestPayload" type="MixedAnyPayload" />
    <xs:element name="ResponsePayload" type="MixedAnyPayload" />
    <xs:element name="ResponseControl" type="ResponseControl" />
    <xs:element name="ResponseHeader" type="ResponseHeader" />
    <xs:element name="ResponseDescriptor" type="ResponseDescriptor" />
    <xs:element name="SwiftResponseRef" type="PCDATA" />
    <xs:element name="RequestControl" type="RequestControl" />
    <xs:element name="RequestHeader" type="RequestHeader" />
    <xs:element name="SwiftRef" type="PCDATA" />
    <xs:complexType name="ValidationDescriptor">
        <xs:sequence>
            <xs:element name="ValResult" type="PCDATA" />
            <xs:element name="ValStatus" type="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WaitControl">
        <xs:sequence>
            <xs:element name="WaitAny" type="PCDATA" />
            <xs:element name="SendReferenceVal" type="PCDATA" minOccurs="0" />
            <xs:element name="Wait" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WaitDescriptor">
        <xs:sequence>
            <xs:element name="SendReferenceVal" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WaitRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="WaitControl" type="WaitControl" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WaitResponse">
        <xs:sequence>
            <xs:element name="WaitReference" type="WaitDescriptor" minOccurs="0" />
            <xs:element name="ResponseHandle" type="ResponseHandle" minOccurs="0" />
            <xs:element name="SwiftRequestRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

