xml-utils/src/test/resources/input/xs-extension-case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Jun 15 11:47:27-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Doc="urn:swift:xsd:xsys.004.001.01" xmlns:SwInt="urn:swift:snl:ns.SwInt" targetNamespace="urn:swift:xsd:xsys.004.001.01" elementFormDefault="qualified">
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd"/>
    <xs:element name="Document" type="Doc:Document"/>
    <xs:complexType name="AbstractReportDescription">
        <xs:sequence>
            <xs:element name="RptOptn" type="Doc:Max5Text"/>
            <xs:element name="RqstrPttrn" type="Doc:Max100Text" minOccurs="0"/>
            <xs:element name="InptChanl" type="Doc:Max30Text" minOccurs="0"/>
            <xs:element name="MsgSvc" type="Doc:MsgServiceCode" minOccurs="0"/>
            <xs:element name="CtryLctn" type="Doc:Max4Text" minOccurs="0" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="xsys.004.001.01" type="Doc:GetUndeliveredMessagesRequest"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetUndeliveredMessagesRequest">
        <xs:sequence>
            <xs:element name="RptCrit" type="Doc:ReportDescription"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgServiceCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="InterAct"/>
            <xs:enumeration value="FileAct"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportDescription">
        <xs:complexContent>
            <xs:extension base="Doc:AbstractReportDescription">
                <xs:sequence>
                    <xs:element ref="SwInt:Service" minOccurs="0"/>
                    <xs:element ref="SwInt:Priority" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
