xml-schema-utils/src/test/resources/input/Doc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Sep 25 -->
<xs:schema xmlns="urn:swift:snl:ns.Doc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:snl:ns.Doc" elementFormDefault="qualified">
    <xs:element name="Cat1" type="Permssn" />
    <xs:element name="Cat2" type="Permssn" />
    <xs:element name="Cat3" type="Permssn" />
    <xs:element name="Cat4" type="Permssn" />
    <xs:element name="Cat5" type="Permssn" />
    <xs:element name="Cat6" type="Permssn" />
    <xs:element name="Cat7" type="Permssn" />
    <xs:element name="Cat8" type="Permssn" />
    <xs:element name="Cat9" type="Permssn" />
    <xs:element name="Incl" type="PCDATA" />
    <xs:element name="Excl" type="PCDATA" />
    <xs:element name="FrDt" type="PCDATA" />
    <xs:element name="ToDt" type="PCDATA" />
    <xs:element name="Bic8" type="PCDATA" />
    <xs:element name="SvcNm" type="PCDATA" />
    <xs:element name="Issr" type="PCDATA" />
    <xs:element name="Crspdt" type="PCDATA" />
    <xs:element name="IssdDtTm" type="PCDATA" />
    <xs:element name="VldtyPrd" type="VldtyPrd" />
    <xs:element name="Permssn" type="Permssn" />
    <xs:element name="FINSvcPermssn" type="FINSvcPermssn" />
    <xs:complexType name="FINSvcPermssn">
        <xs:sequence>
            <xs:element name="Cat1" type="Permssn" minOccurs="0" />
            <xs:element name="Cat2" type="Permssn" minOccurs="0" />
            <xs:element name="Cat3" type="Permssn" minOccurs="0" />
            <xs:element name="Cat4" type="Permssn" minOccurs="0" />
            <xs:element name="Cat5" type="Permssn" minOccurs="0" />
            <xs:element name="Cat6" type="Permssn" minOccurs="0" />
            <xs:element name="Cat7" type="Permssn" minOccurs="0" />
            <xs:element name="Cat8" type="Permssn" minOccurs="0" />
            <xs:element name="Cat9" type="Permssn" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="Permssn">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Incl" type="PCDATA" maxOccurs="unbounded" />
                <xs:element name="Excl" type="PCDATA" maxOccurs="unbounded" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VldtyPrd">
        <xs:sequence>
            <xs:element name="FrDt" type="PCDATA" minOccurs="0" />
            <xs:element name="ToDt" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

