xml-schema-utils/src/test/resources/input/Sw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2008 Sep 25 -->
<xs:schema xmlns="urn:swift:snl:ns.Sw" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Doc="urn:swift:snl:ns.Doc" xmlns:SwGbl="urn:swift:snl:ns.SwGbl" xmlns:SwInt="urn:swift:snl:ns.SwInt" xmlns:SwSec="urn:swift:snl:ns.SwSec" targetNamespace="urn:swift:snl:ns.Sw" elementFormDefault="qualified">
    <xs:import namespace="urn:swift:snl:ns.Doc" schemaLocation="Doc.xsd" />
    <xs:import namespace="urn:swift:snl:ns.SwGbl" schemaLocation="SwGbl.xsd" />
    <xs:import namespace="urn:swift:snl:ns.SwInt" schemaLocation="SwInt.xsd" />
    <xs:import namespace="urn:swift:snl:ns.SwSec" schemaLocation="SwSec.xsd" />
    <xs:element name="AbortReason" type="PCDATA" />
    <xs:element name="Accepted" type="PCDATA" />
    <xs:element name="ForceAcquire" type="PCDATA" />
    <xs:element name="DeliverPendingNotifyFileRequestHandle" type="PCDATA" />
    <xs:element name="AcquiredStatus" type="PCDATA" />
    <xs:element name="PreviousQueueInfo" type="QueueInfo" />
    <xs:element name="CurrentQueueInfo" type="QueueInfo" />
    <xs:element name="PendingFiles" type="PCDATA" />
    <xs:element name="PrivateSignKeyExpirationDate" type="PCDATA" />
    <xs:element name="CertIssuer" type="PCDATA" />
    <xs:element name="CertSerialNumber" type="PCDATA" />
    <xs:element name="CertCRLDistPoint" type="PCDATA" />
    <xs:element name="CertFingerPrint" type="PCDATA" />
    <xs:element name="ProfileName" type="PCDATA" />
    <xs:element name="CertKeyUsage" type="PCDATA" />
    <xs:element name="RenewalDate" type="PCDATA" />
    <xs:element name="ExpirationDate" type="PCDATA" />
    <xs:element name="CertDN" type="PCDATA" />
    <xs:element name="ConnectivityStatus" type="PCDATA" />
    <xs:element name="DomainConnection" type="DomainConnection" />
    <xs:element name="CopySnFRef" type="PCDATA" />
    <xs:element name="RecipientDN" type="PCDATA" />
    <xs:element name="ThirdPartyToReceiverInformation" type="Any" />
    <xs:element name="ConnectionStatus" type="PCDATA" />
    <xs:element name="LocalDomain" type="PCDATA" />
    <xs:element name="RemoteDomain" type="PCDATA" />
    <xs:element name="RemoteDomainId" type="PCDATA" />
    <xs:element name="RemoteDomainNWAddr" type="PCDATA" />
    <xs:element name="CreationTime" type="PCDATA" />
    <xs:element name="PDIndication" type="PDIndication" />
    <xs:element name="HeaderInfo" type="Any" />
    <xs:element name="EmissionTime" type="PCDATA" />
    <xs:element name="FileRequest" type="FileRequest" />
    <xs:element name="FileResponseHandle" type="FileResponseHandle" />
    <xs:element name="SnFRequest" type="SnFRequest" />
    <xs:element name="SnFResponseHandle" type="SnFResponseHandle" />
    <xs:element name="CommandLine" type="PCDATA" />
    <xs:element name="CommandLineStatus" type="PCDATA" />
    <xs:element name="PutFileRequest" type="PutFileRequest" />
    <xs:element name="GetFileRequest" type="GetFileRequest" />
    <xs:element name="AckFileRequest" type="AckFileRequest" />
    <xs:element name="PutFileRequestHandle" type="PutFileRequestHandle" />
    <xs:element name="GetFileRequestHandle" type="GetFileRequestHandle" />
    <xs:element name="AckFileRequestHandle" type="AckFileRequestHandle" />
    <xs:element name="NotifyFileRequestHandle" type="NotifyFileRequestHandle" />
    <xs:element name="PutFileResponse" type="PutFileResponse" />
    <xs:element name="GetFileResponse" type="GetFileResponse" />
    <xs:element name="AckFileResponse" type="AckFileResponse" />
    <xs:element name="NotifyFileResponse" type="NotifyFileResponse" />
    <xs:element name="PutFileResponseHandle" type="PutFileResponseHandle" />
    <xs:element name="GetFileResponseHandle" type="GetFileResponseHandle" />
    <xs:element name="AckFileResponseHandle" type="AckFileResponseHandle" />
    <xs:element name="FileRequestControl" type="FileRequestControl" />
    <xs:element name="FileOpRequest" type="FileOpRequest" />
    <xs:element name="Copy" type="Copy" />
    <xs:element name="FileRequestE2EControl" type="E2EControl" />
    <xs:element name="FileOpRequestHandle" type="FileOpRequestHandle" />
    <xs:element name="FileResponseControl" type="FileResponseControl" />
    <xs:element name="FileOpResponse" type="FileOpResponse" />
    <xs:element name="TransferKey" type="PCDATA" />
    <xs:element name="FileRequestDescriptor" type="FileRequestDescriptor" />
    <xs:element name="FileResponseDescriptor" type="FileResponseDescriptor" />
    <xs:element name="FileResponseE2EControl" type="E2EControl" />
    <xs:element name="FileOpResponseHandle" type="FileOpResponseHandle" />
    <xs:element name="FileRequestHeader" type="FileRequestHeader" />
    <xs:element name="FileResponseHeader" type="FileResponseHeader" />
    <xs:element name="TransferSide" type="PCDATA" />
    <xs:element name="TransferType" type="PCDATA" />
    <xs:element name="TransferDirection" type="PCDATA" />
    <xs:element name="StopReason" type="StopReason" />
    <xs:element name="CurrentSize" type="PCDATA" />
    <xs:element name="StartTime" type="PCDATA" />
    <xs:element name="StateTime" type="PCDATA" />
    <xs:element name="FileStatusDetails" type="FileStatusDetails" />
    <xs:element name="SignIndicator" type="PCDATA" />
    <xs:element name="DeliveryStatus" type="PCDATA" />
    <xs:element name="CopyIndicator" type="PCDATA" />
    <xs:element name="AuthNotifInd" type="PCDATA" />
    <xs:element name="HeaderInfoInd" type="PCDATA" />
    <xs:element name="AuthorisationStatus" type="PCDATA" />
    <xs:element name="ThirdPartyInfoInd" type="PCDATA" />
    <xs:element name="CopyType" type="PCDATA" />
    <xs:element name="CopyState" type="PCDATA" />
    <xs:element name="DateTime" type="PCDATA" />
    <xs:element name="TransferEP" type="PCDATA" />
    <xs:element name="MaxSize" type="PCDATA" />
    <xs:element name="SnFStatus" type="SnFStatus" />
    <xs:element name="HSMHost" type="PCDATA" />
    <xs:element name="HSMServiceStatus" type="PCDATA" />
    <xs:element name="HSMSNLConnectivity" type="PCDATA" />
    <xs:element name="HSMSelfTest" type="HSMSelfTest" />
    <xs:element name="HSMSelfTestResult" type="PCDATA" />
    <xs:element name="HSMSelfTestDateTime" type="PCDATA" />
    <xs:element name="HSMRunStatus" type="PCDATA" />
    <xs:element name="HSMReplicationStatus" type="PCDATA" />
    <xs:element name="PrimaryHSMStatus" type="HSMDetailStatus" />
    <xs:element name="SecondaryHSMStatus" type="HSMDetailStatus" />
    <xs:element name="HSMStatus" type="HSMStatus" />
    <xs:element name="HSMTokenStatus" type="HSMTokenStatus" />
    <xs:element name="HSMName" type="PCDATA" />
    <xs:element name="HSMPartitionUsed" type="PCDATA" />
    <xs:element name="HSMPartitionFree" type="PCDATA" />
    <xs:element name="EventResourceType" type="PCDATA" />
    <xs:element name="EventResourceName" type="PCDATA" />
    <xs:element name="EventTime" type="PCDATA" />
    <xs:element name="FileResponse" type="FileResponse" />
    <xs:element name="Environment" type="PCDATA" />
    <xs:element name="CallbackOnError" type="PCDATA" />
    <xs:element name="ResponseInfoEP" type="PCDATA" />
    <xs:element name="LocalRef" type="PCDATA" />
    <xs:element name="SnFResponse" type="SnFResponse" />
    <xs:element name="CryptoMode" type="PCDATA" />
    <xs:element name="FACryptoMode" type="PCDATA" />
    <xs:element name="ExplicitNamespaceAttributeMode" type="PCDATA" />
    <xs:element name="ErrorCodeMode" type="PCDATA" />
    <xs:element name="PswdExpiryDays" type="PCDATA" />
    <xs:element name="PswdLifeTime" type="PCDATA" />
    <xs:element name="UserPolicy" type="PCDATA" />
    <xs:element name="CertInfoList" type="CertInfoList" />
    <xs:element name="RequiredInfo" type="PCDATA" />
    <xs:element name="ErrorHandling" type="PCDATA" />
    <xs:element name="PageSize" type="PCDATA" />
    <xs:element name="CertList" type="CertList" />
    <xs:element name="PageToken" type="PCDATA" />
    <xs:element name="AuthenticationCode" type="PCDATA" />
    <xs:element name="ReferenceCode" type="PCDATA" />
    <xs:element name="CertRecover" type="PCDATA" />
    <xs:element name="Node" type="PCDATA" />
    <xs:element name="CertPolicyId" type="PCDATA" />
    <xs:element name="FileName" type="PCDATA" />
    <xs:element name="CertLocation" type="PCDATA" />
    <xs:element name="OldPassword" type="PCDATA" />
    <xs:element name="Password" type="PCDATA" />
    <xs:element name="LAUVal" type="PCDATA" />
    <xs:element name="LAUAlgo" type="PCDATA" />
    <xs:element name="LastHeartbeatStatus" type="PCDATA" />
    <xs:element name="SendTime" type="PCDATA" />
    <xs:element name="AckTime" type="PCDATA" />
    <xs:element name="Partition" type="PCDATA" />
    <xs:element name="TransferStatus" type="PCDATA" />
    <xs:element name="StoredTransferRef" type="PCDATA" />
    <xs:element name="MsgId" type="PCDATA" />
    <xs:element name="RecordCount" type="PCDATA" />
    <xs:element name="FileStatus" type="FileStatus" />
    <xs:element name="EndOfList" type="PCDATA" />
    <xs:element name="Member" type="Member" />
    <xs:element name="SnFRef" type="PCDATA" />
    <xs:element name="SnFRefType" type="PCDATA" />
    <xs:element name="AcceptStatus" type="PCDATA" />
    <xs:element name="AckSwiftTime" type="PCDATA" />
    <xs:element name="AckDescription" type="PCDATA" />
    <xs:element name="AckInfo" type="PCDATA" />
    <xs:element name="OrigSnFRef" type="PCDATA" />
    <xs:element name="ThirdPartyDN" type="PCDATA" />
    <xs:element name="RND" type="PCDATA" />
    <xs:element name="ForcedOpenInd" type="PCDATA" />
    <xs:element name="WindowSize" type="PCDATA" />
    <xs:element name="NextSnFInputSeq" type="PCDATA" />
    <xs:element name="MemberList" type="MemberList" />
    <xs:element name="EmissionList" type="EmissionList" />
    <xs:element name="Process" type="PCDATA" />
    <xs:element name="ProcessExpected" type="PCDATA" />
    <xs:element name="ProcessActual" type="PCDATA" />
    <xs:element name="VendorName" type="PCDATA" />
    <xs:element name="ProductName" type="PCDATA" />
    <xs:element name="ProductVersion" type="PCDATA" />
    <xs:element name="ProductInfo" type="ProductInfo" />
    <xs:element name="AckMessage" type="AckMessage" />
    <xs:element name="FileRequestHandle" type="FileRequestHandle" />
    <xs:element name="SnFRequestHandle" type="SnFRequestHandle" />
    <xs:element name="TransferDescription" type="PCDATA" />
    <xs:element name="TransferInfo" type="PCDATA" />
    <xs:element name="PossibleDuplicate" type="PCDATA" />
    <xs:element name="OrigTransferRef" type="PCDATA" />
    <xs:element name="AckIndicator" type="PCDATA" />
    <xs:element name="AckServerInfo" type="ServerInfo" />
    <xs:element name="LogicalName" type="PCDATA" />
    <xs:element name="FileDescription" type="PCDATA" />
    <xs:element name="FileInfo" type="PCDATA" />
    <xs:element name="PhysicalName" type="PCDATA" />
    <xs:element name="TransferRef" type="PCDATA" />
    <xs:element name="TransferAnswer" type="PCDATA" />
    <xs:element name="RejectDescription" type="PCDATA" />
    <xs:element name="RejectInfo" type="PCDATA" />
    <xs:element name="Size" type="PCDATA" />
    <xs:element name="Digest" type="Digest" />
    <xs:element name="Roles" type="RBACRoleInstance" />
    <xs:element name="QualifierName" type="PCDATA" />
    <xs:element name="Value" type="PCDATA" />
    <xs:element name="RoleName" type="PCDATA" />
    <xs:element name="Qualifier" type="RBACQualifierValue" />
    <xs:element name="RMAFileHdr" type="RMAFileHdr" />
    <xs:element name="RMARecrd" type="RMARecrd" />
    <xs:element name="Bic8Lst" type="Bic8Lst" />
    <xs:element name="SvcLst" type="SvcLst" />
    <xs:element name="FileMaintncSts" type="PCDATA" />
    <xs:element name="FileDesc" type="PCDATA" />
    <xs:element name="CrDtTm" type="PCDATA" />
    <xs:element name="TltRecrd" type="PCDATA" />
    <xs:element name="LAU" type="LAU" />
    <xs:element name="Tp" type="PCDATA" />
    <xs:element name="RMASts" type="PCDATA" />
    <xs:element name="DigestRef" type="PCDATA" />
    <xs:element name="DigestAlgorithm" type="PCDATA" />
    <xs:element name="DigestValue" type="PCDATA" />
    <xs:element name="InputChannel" type="PCDATA" />
    <xs:element name="SnFInputSeq" type="PCDATA" />
    <xs:element name="Token" type="PCDATA" />
    <xs:element name="MemberAcceptStatus" type="PCDATA" />
    <xs:element name="InstanceName" type="PCDATA" />
    <xs:element name="SubSystemList" type="SubSystemList" />
    <xs:element name="SubSystemGroupList" type="SubSystemGroupList" />
    <xs:element name="HeartbeatIndicator" type="PCDATA" />
    <xs:element name="ConnectionIndicator" type="PCDATA" />
    <xs:element name="VersionIndicator" type="PCDATA" />
    <xs:element name="HSMIndicator" type="PCDATA" />
    <xs:element name="SubSystems" type="SubSystems" />
    <xs:element name="LastHeartbeat" type="LastHeartbeat" />
    <xs:element name="Connectivity" type="Connectivity" />
    <xs:element name="SNLVersion" type="SNLVersion" />
    <xs:element name="HSMs" type="HSMStatusList" />
    <xs:element name="SNLRelease" type="PCDATA" />
    <xs:element name="OSRelease" type="PCDATA" />
    <xs:element name="SnFDeliveryInfo" type="SnFDeliveryInfo" />
    <xs:element name="RetryReason" type="SwGbl:Status" />
    <xs:element name="SnFInputSeqRange" type="SnFInputSeqRange" />
    <xs:element name="OriginalSnFRef" type="PCDATA" />
    <xs:element name="FirstSnFInputSeq" type="PCDATA" />
    <xs:element name="LastSnFInputSeq" type="PCDATA" />
    <xs:element name="AcquireSnFRequest" type="AcquireSnFRequest" />
    <xs:element name="ReleaseSnFRequest" type="ReleaseSnFRequest" />
    <xs:element name="AckSnFRequest" type="AckSnFRequest" />
    <xs:element name="CreateInputChannelSnFRequest" type="CreateInputChannelSnFRequest" />
    <xs:element name="DeleteInputChannelSnFRequest" type="DeleteInputChannelSnFRequest" />
    <xs:element name="OpenInputChannelSnFRequest" type="OpenInputChannelSnFRequest" />
    <xs:element name="CloseInputChannelSnFRequest" type="CloseInputChannelSnFRequest" />
    <xs:element name="ResolveGapSnFRequest" type="ResolveGapSnFRequest" />
    <xs:element name="NotifySnFRequestHandle" type="NotifySnFRequestHandle" />
    <xs:element name="NotifySnFResponse" type="NotifySnFResponse" />
    <xs:element name="AcquireSnFResponseHandle" type="AcquireSnFResponseHandle" />
    <xs:element name="ReleaseSnFResponseHandle" type="Empty" />
    <xs:element name="AckSnFResponseHandle" type="Empty" />
    <xs:element name="CreateInputChannelSnFResponseHandle" type="Empty" />
    <xs:element name="DeleteInputChannelSnFResponseHandle" type="Empty" />
    <xs:element name="OpenInputChannelSnFResponseHandle" type="OpenInputChannelSnFResponseHandle" />
    <xs:element name="CloseInputChannelSnFResponseHandle" type="Empty" />
    <xs:element name="ResolveGapSnFResponseHandle" type="ResolveGapSnFResponseHandle" />
    <xs:element name="SnFSessionId" type="PCDATA" />
    <xs:element name="SnFPDMHistory" type="SnFDeliveryHistory" />
    <xs:element name="DeliveryTime" type="PCDATA" />
    <xs:element name="SnFInputTime" type="PCDATA" />
    <xs:element name="OverdueTime" type="PCDATA" />
    <xs:element name="SnFRequestControl" type="SnFRequestControl" />
    <xs:element name="SnFOpRequest" type="SnFOpRequest" />
    <xs:element name="SwiftTime" type="PCDATA" />
    <xs:element name="SnFOpRequestHandle" type="SnFOpRequestHandle" />
    <xs:element name="SnFResponseControl" type="SnFResponseControl" />
    <xs:element name="SnFOpResponse" type="SnFOpResponse" />
    <xs:element name="SnFRequestDescriptor" type="SnFRequestDescriptor" />
    <xs:element name="SnFOpResponseHandle" type="SnFOpResponseHandle" />
    <xs:element name="SessionStatus" type="PCDATA" />
    <xs:element name="SessionMode" type="PCDATA" />
    <xs:element name="OrderBy" type="PCDATA" />
    <xs:element name="RecoveryMode" type="PCDATA" />
    <xs:element name="SnFOutputSeq" type="PCDATA" />
    <xs:element name="LastActivityTime" type="PCDATA" />
    <xs:element name="Subset" type="PCDATA" />
    <xs:element name="SubSystemGroup" type="PCDATA" />
    <xs:element name="SubSystem" type="PCDATA" />
    <xs:element name="SubSystemStatusValue" type="PCDATA" />
    <xs:element name="ProcessStatus" type="ProcessStatus" />
    <xs:element name="ExecutableStatus" type="ExecutableStatus" />
    <xs:element name="OverallStatus" type="PCDATA" />
    <xs:element name="SubSystemStatus" type="SubSystemStatus" />
    <xs:element name="EventEP" type="PCDATA" />
    <xs:element name="AllFileEvents" type="PCDATA" />
    <xs:element name="FullFileStatus" type="PCDATA" />
    <xs:complexType name="AbortFileRequest">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="TransferKey" type="PCDATA" minOccurs="0" />
            <xs:element name="AbortReason" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AbortFileResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AckFileRequest">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
            <xs:element name="Accepted" type="PCDATA" />
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AckFileRequestHandle">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
            <xs:element name="Accepted" type="PCDATA" />
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AckFileResponse">
        <xs:sequence>
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AckFileResponseHandle">
        <xs:sequence>
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AckMessage">
        <xs:sequence>
            <xs:element name="SnFRef" type="PCDATA" />
            <xs:element name="OrigSnFRef" type="PCDATA" minOccurs="0" />
            <xs:element name="SnFRefType" type="PCDATA" minOccurs="0" />
            <xs:element name="AcceptStatus" type="PCDATA" />
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwSec:CryptoInternal" minOccurs="0" />
            <xs:element ref="SwSec:SignatureValue" minOccurs="0" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
            <xs:element ref="SwSec:AuthorisationSignatureValue" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AckSnFRequest">
        <xs:sequence>
            <xs:element name="SnFSessionId" type="PCDATA" />
            <xs:element name="AckMessage" type="AckMessage" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquireSnFRequest">
        <xs:sequence>
            <xs:element ref="SwInt:Queue" />
            <xs:element name="SessionMode" type="PCDATA" />
            <xs:element ref="SwInt:SNLEP" minOccurs="0" />
            <xs:element name="ForceAcquire" type="PCDATA" minOccurs="0" />
            <xs:element name="Subset" type="PCDATA" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="OrderBy" type="PCDATA" minOccurs="0" />
            <xs:element name="RecoveryMode" type="PCDATA" minOccurs="0" />
            <xs:element name="DeliverPendingNotifyFileRequestHandle" type="PCDATA" minOccurs="0" />
            <xs:element name="WindowSize" type="PCDATA" minOccurs="0" />
            <xs:element name="EventEP" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquireSnFResponseHandle">
        <xs:sequence>
            <xs:element name="AcquiredStatus" type="PCDATA" />
            <xs:sequence>
                <xs:choice>
                    <xs:sequence>
                        <xs:element name="SnFSessionId" type="PCDATA" />
                        <xs:element name="SnFOutputSeq" type="PCDATA" />
                        <xs:element name="PreviousQueueInfo" type="QueueInfo" minOccurs="0" />
                    </xs:sequence>
                    <xs:element name="CurrentQueueInfo" type="QueueInfo" />
                </xs:choice>
            </xs:sequence>
            <xs:element name="WindowSize" type="PCDATA" minOccurs="0" />
            <xs:element name="PendingFiles" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Any">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Bic8Lst">
        <xs:sequence>
            <xs:element ref="Doc:Bic8" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertInfoList">
        <xs:sequence>
            <xs:element name="CertKeyUsage" type="PCDATA" />
            <xs:element name="RenewalDate" type="PCDATA" minOccurs="0" />
            <xs:element name="ExpirationDate" type="PCDATA" />
            <xs:element name="PrivateSignKeyExpirationDate" type="PCDATA" minOccurs="0" />
            <xs:element name="CertDN" type="PCDATA" />
            <xs:element name="CertPolicyId" type="PCDATA" minOccurs="0" />
            <xs:element name="CertIssuer" type="PCDATA" />
            <xs:element name="CertSerialNumber" type="PCDATA" />
            <xs:element name="CertCRLDistPoint" type="PCDATA" />
            <xs:element name="CertFingerPrint" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertList">
        <xs:sequence>
            <xs:element name="ProfileName" type="PCDATA" />
            <xs:element name="CertKeyUsage" type="PCDATA" minOccurs="0" />
            <xs:element name="RenewalDate" type="PCDATA" minOccurs="0" />
            <xs:element name="ExpirationDate" type="PCDATA" minOccurs="0" />
            <xs:element name="UserPolicy" type="PCDATA" minOccurs="0" />
            <xs:element name="CertDN" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CloseInputChannelSnFRequest">
        <xs:sequence>
            <xs:element name="InputChannel" type="PCDATA" />
            <xs:element name="Token" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Connectivity">
        <xs:sequence>
            <xs:element name="ConnectivityStatus" type="PCDATA" />
            <xs:element name="DomainConnection" type="DomainConnection" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Copy">
        <xs:sequence>
            <xs:element name="CopyType" type="PCDATA" minOccurs="0" />
            <xs:element name="CopyState" type="PCDATA" minOccurs="0" />
            <xs:element name="CopySnFRef" type="PCDATA" minOccurs="0" />
            <xs:element name="AuthNotifInd" type="PCDATA" minOccurs="0" />
            <xs:element name="OrigSnFRef" type="PCDATA" minOccurs="0" />
            <xs:element name="RecipientDN" type="PCDATA" minOccurs="0" />
            <xs:element name="ThirdPartyToReceiverInformation" type="Any" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateInputChannelSnFRequest">
        <xs:sequence>
            <xs:element name="InputChannel" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeleteInputChannelSnFRequest">
        <xs:sequence>
            <xs:element name="InputChannel" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Digest">
        <xs:sequence>
            <xs:element name="DigestAlgorithm" type="PCDATA" />
            <xs:element name="DigestValue" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomainConnection">
        <xs:sequence>
            <xs:element name="ConnectionStatus" type="PCDATA" />
            <xs:element name="LocalDomain" type="PCDATA" />
            <xs:element name="RemoteDomain" type="PCDATA" />
            <xs:element name="RemoteDomainId" type="PCDATA" />
            <xs:element name="RemoteDomainNWAddr" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="E2EControl">
        <xs:sequence>
            <xs:element name="MsgId" type="PCDATA" minOccurs="0" />
            <xs:element name="CreationTime" type="PCDATA" minOccurs="0" />
            <xs:element name="PDIndication" type="PDIndication" minOccurs="0" />
            <xs:element name="HeaderInfo" type="Any" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmissionList">
        <xs:sequence>
            <xs:element name="EmissionTime" type="PCDATA" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Empty" />
    <xs:complexType name="ExchangeFileRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="FileRequest" type="FileRequest" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeFileResponse">
        <xs:sequence>
            <xs:element name="FileResponseHandle" type="FileResponseHandle" minOccurs="0" />
            <xs:element name="TransferRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwInt:SwiftRequestRef" minOccurs="0" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeSnFRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="SnFRequest" type="SnFRequest" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeSnFResponse">
        <xs:sequence>
            <xs:element name="SnFResponseHandle" type="SnFResponseHandle" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExecutableStatus">
        <xs:sequence>
            <xs:element name="CommandLine" type="PCDATA" />
            <xs:element name="CommandLineStatus" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FetchFileRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="EventEP" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferEP" type="PCDATA" minOccurs="0" />
            <xs:element name="Partition" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferKey" type="PCDATA" minOccurs="0" />
            <xs:element name="LocalRef" type="PCDATA" minOccurs="0" />
            <xs:element name="ProductList" type="ProductList" minOccurs="0" />
            <xs:element name="FileRequestHandle" type="FileRequestHandle" />
            <xs:element name="PhysicalName" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FetchFileResponse">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileOpRequest">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PutFileRequest" type="PutFileRequest" />
                <xs:element name="GetFileRequest" type="GetFileRequest" />
                <xs:element name="AckFileRequest" type="AckFileRequest" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileOpRequestHandle">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PutFileRequestHandle" type="PutFileRequestHandle" />
                <xs:element name="GetFileRequestHandle" type="GetFileRequestHandle" />
                <xs:element name="AckFileRequestHandle" type="AckFileRequestHandle" />
                <xs:element name="NotifyFileRequestHandle" type="NotifyFileRequestHandle" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileOpResponse">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PutFileResponse" type="PutFileResponse" />
                <xs:element name="GetFileResponse" type="GetFileResponse" />
                <xs:element name="AckFileResponse" type="AckFileResponse" />
                <xs:element name="NotifyFileResponse" type="NotifyFileResponse" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileOpResponseHandle">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PutFileResponseHandle" type="PutFileResponseHandle" />
                <xs:element name="GetFileResponseHandle" type="GetFileResponseHandle" />
                <xs:element name="AckFileResponseHandle" type="AckFileResponseHandle" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileRequest">
        <xs:sequence>
            <xs:element name="FileRequestControl" type="FileRequestControl" minOccurs="0" />
            <xs:element name="FileRequestE2EControl" type="E2EControl" minOccurs="0" />
            <xs:element name="FileRequestHeader" type="FileRequestHeader" />
            <xs:element name="FileOpRequest" type="FileOpRequest" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileRequestControl">
        <xs:sequence>
            <xs:element ref="SwInt:RequestCrypto" minOccurs="0" />
            <xs:element ref="SwInt:NRIndicator" minOccurs="0" />
            <xs:element ref="SwInt:DeliveryCtrl" minOccurs="0" />
            <xs:element name="EventEP" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferEP" type="PCDATA" minOccurs="0" />
            <xs:element name="Partition" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferKey" type="PCDATA" minOccurs="0" />
            <xs:element name="LocalRef" type="PCDATA" minOccurs="0" />
            <xs:element name="ProductList" type="ProductList" minOccurs="0" />
            <xs:element name="ReturnSignatureList" type="PCDATA" minOccurs="0" />
            <xs:element name="CopyIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="AuthNotifInd" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileRequestDescriptor">
        <xs:sequence>
            <xs:element ref="SwInt:RBAC" minOccurs="0" />
            <xs:element ref="SwInt:SwiftRequestRef" />
            <xs:element name="SwiftTime" type="PCDATA" />
            <xs:element ref="SwInt:NonRep" minOccurs="0" />
            <xs:element ref="SwInt:MRRResult" minOccurs="0" />
            <xs:element name="SnFInputInfo" type="SnFInputInfo" minOccurs="0" />
            <xs:element name="SnFOutputInfo" type="SnFOutputInfo" minOccurs="0" />
            <xs:element ref="SwSec:SecSecuredData" minOccurs="0" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" />
            <xs:element name="Copy" type="Copy" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileRequestHandle">
        <xs:sequence>
            <xs:element name="FileRequestDescriptor" type="FileRequestDescriptor" />
            <xs:element name="FileRequestE2EControl" type="E2EControl" minOccurs="0" />
            <xs:element name="FileRequestHeader" type="FileRequestHeader" />
            <xs:element name="FileOpRequestHandle" type="FileOpRequestHandle" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileRequestHeader">
        <xs:sequence>
            <xs:element ref="SwInt:Requestor" />
            <xs:element ref="SwInt:Responder" />
            <xs:element ref="SwInt:Service" />
            <xs:element ref="SwInt:RequestType" minOccurs="0" />
            <xs:element ref="SwInt:Priority" minOccurs="0" />
            <xs:element ref="SwInt:RequestRef" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileResponse">
        <xs:sequence>
            <xs:element name="FileResponseControl" type="FileResponseControl" minOccurs="0" />
            <xs:element name="FileResponseE2EControl" type="E2EControl" minOccurs="0" />
            <xs:element name="FileResponseHeader" type="FileResponseHeader" />
            <xs:element name="FileOpResponse" type="FileOpResponse" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileResponseControl">
        <xs:sequence>
            <xs:element ref="SwInt:ResponseCrypto" minOccurs="0" />
            <xs:element ref="SwInt:NRIndicator" minOccurs="0" />
            <xs:element name="EventEP" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferEP" type="PCDATA" minOccurs="0" />
            <xs:element name="Partition" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferKey" type="PCDATA" minOccurs="0" />
            <xs:element name="LocalRef" type="PCDATA" minOccurs="0" />
            <xs:element name="ProductList" type="ProductList" minOccurs="0" />
            <xs:element name="ReturnSignatureList" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileResponseDescriptor">
        <xs:sequence>
            <xs:element ref="SwInt:SwiftResponseRef" />
            <xs:element ref="SwInt:NonRep" minOccurs="0" />
            <xs:element ref="SwSec:SecSecuredData" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileResponseHandle">
        <xs:sequence>
            <xs:element name="FileRequestDescriptor" type="FileRequestDescriptor" />
            <xs:element name="FileResponseDescriptor" type="FileResponseDescriptor" minOccurs="0" />
            <xs:element name="FileResponseE2EControl" type="E2EControl" minOccurs="0" />
            <xs:element name="FileResponseHeader" type="FileResponseHeader" />
            <xs:element name="FileOpResponseHandle" type="FileOpResponseHandle" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileResponseHeader">
        <xs:sequence>
            <xs:element ref="SwInt:Responder" />
            <xs:element ref="SwInt:ResponseRef" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileStatus">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="LocalRef" type="PCDATA" minOccurs="0" />
            <xs:element name="FileRequestHeader" type="FileRequestHeader" />
            <xs:element name="FileResponseHeader" type="FileResponseHeader" minOccurs="0" />
            <xs:element name="TransferSide" type="PCDATA" />
            <xs:element name="TransferType" type="PCDATA" />
            <xs:element name="TransferDirection" type="PCDATA" />
            <xs:element ref="SwInt:DeliveryMode" minOccurs="0" />
            <xs:element name="StoredTransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="SnFInputInfo" type="SnFInputInfo" minOccurs="0" />
            <xs:element name="MsgId" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferStatus" type="PCDATA" />
            <xs:element name="StopReason" type="StopReason" minOccurs="0" />
            <xs:element name="AckIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="LogicalName" type="PCDATA" />
            <xs:element name="PhysicalName" type="PCDATA" minOccurs="0" />
            <xs:element name="CurrentSize" type="PCDATA" minOccurs="0" />
            <xs:element name="Size" type="PCDATA" minOccurs="0" />
            <xs:element name="StartTime" type="PCDATA" />
            <xs:element name="StateTime" type="PCDATA" />
            <xs:element name="FileStatusDetails" type="FileStatusDetails" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FileStatusDetails">
        <xs:sequence>
            <xs:element name="SwiftTime" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwSec:UserDN" minOccurs="0" />
            <xs:element name="TransferDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="FileDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="FileInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
            <xs:element name="PossibleDuplicate" type="PCDATA" />
            <xs:element name="OrigTransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="SnFOutputInfo" type="SnFOutputInfo" minOccurs="0" />
            <xs:element name="SignIndicator" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwSec:SignDN" minOccurs="0" />
            <xs:element ref="SwSec:SignatureValue" minOccurs="0" />
            <xs:element ref="SwSec:AuthorisationSignatureValue" minOccurs="0" />
            <xs:element ref="SwInt:NRIndicator" minOccurs="0" />
            <xs:element ref="SwInt:NonRep" minOccurs="0" />
            <xs:element name="AckServerInfo" type="ServerInfo" minOccurs="0" />
            <xs:element ref="SwInt:NotifQueue" minOccurs="0" />
            <xs:element name="DeliveryStatus" type="PCDATA" minOccurs="0" />
            <xs:element name="DeliveryTime" type="PCDATA" minOccurs="0" />
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="CopyIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="AuthNotifInd" type="PCDATA" minOccurs="0" />
            <xs:element name="HeaderInfoInd" type="PCDATA" minOccurs="0" />
            <xs:element name="AuthorisationStatus" type="PCDATA" minOccurs="0" />
            <xs:element name="ThirdPartyInfoInd" type="PCDATA" minOccurs="0" />
            <xs:element name="CopyType" type="PCDATA" minOccurs="0" />
            <xs:element name="CopyState" type="PCDATA" minOccurs="0" />
            <xs:element name="ThirdPartyDN" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetDateTimeResponse">
        <xs:sequence>
            <xs:element name="DateTime" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileDigestRequest">
        <xs:sequence>
            <xs:element name="PhysicalName" type="PCDATA" />
            <xs:element name="TransferEP" type="PCDATA" minOccurs="0" />
            <xs:element name="DigestAlgorithm" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileDigestResponse">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="Digest" type="Digest" />
                    <xs:element name="Size" type="PCDATA" />
                </xs:sequence>
                <xs:element ref="SwGbl:Status" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileRequest">
        <xs:sequence>
            <xs:element name="TransferDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="MaxSize" type="PCDATA" minOccurs="0" />
            <xs:element name="PhysicalName" type="PCDATA" />
            <xs:element name="LogicalName" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileRequestHandle">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="TransferDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="MaxSize" type="PCDATA" minOccurs="0" />
            <xs:element name="LogicalName" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileResponse">
        <xs:sequence>
            <xs:element name="TransferAnswer" type="PCDATA" />
            <xs:choice>
                <xs:sequence>
                    <xs:element name="RejectDescription" type="PCDATA" minOccurs="0" />
                    <xs:element name="RejectInfo" type="PCDATA" minOccurs="0" />
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="PhysicalName" type="PCDATA" />
                    <xs:element name="FileDescription" type="PCDATA" minOccurs="0" />
                    <xs:element name="FileInfo" type="PCDATA" minOccurs="0" />
                    <xs:sequence minOccurs="0">
                        <xs:element name="AckIndicator" type="PCDATA" />
                        <xs:element name="AckServerInfo" type="ServerInfo" minOccurs="0" />
                    </xs:sequence>
                    <xs:element name="Size" type="PCDATA" minOccurs="0" />
                    <xs:element name="Digest" type="Digest" minOccurs="0" />
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileResponseHandle">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="TransferAnswer" type="PCDATA" />
            <xs:choice>
                <xs:sequence>
                    <xs:element name="RejectDescription" type="PCDATA" minOccurs="0" />
                    <xs:element name="RejectInfo" type="PCDATA" minOccurs="0" />
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="Size" type="PCDATA" />
                    <xs:element name="Digest" type="Digest" />
                    <xs:element name="FileDescription" type="PCDATA" minOccurs="0" />
                    <xs:element name="FileInfo" type="PCDATA" minOccurs="0" />
                    <xs:element name="AckIndicator" type="PCDATA" />
                    <xs:element name="AckServerInfo" type="ServerInfo" minOccurs="0" />
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileStatusRequest">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="FullFileStatus" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetFileStatusResponse">
        <xs:sequence>
            <xs:element name="FileStatus" type="FileStatus" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetSnFStatusRequest">
        <xs:sequence>
            <xs:element name="SnFSessionId" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetSnFStatusResponse">
        <xs:sequence>
            <xs:choice>
                <xs:element name="SnFStatus" type="SnFStatus" />
                <xs:element ref="SwGbl:Status" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HSMDetailStatus">
        <xs:sequence>
            <xs:element name="HSMHost" type="PCDATA" />
            <xs:element name="HSMServiceStatus" type="PCDATA" />
            <xs:element name="HSMSNLConnectivity" type="PCDATA" />
            <xs:element name="HSMSelfTest" type="HSMSelfTest" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HSMSelfTest">
        <xs:sequence>
            <xs:element name="HSMSelfTestResult" type="PCDATA" />
            <xs:element name="HSMSelfTestDateTime" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HSMStatus">
        <xs:sequence>
            <xs:element name="HSMName" type="PCDATA" />
            <xs:element name="HSMRunStatus" type="PCDATA" />
            <xs:element name="HSMReplicationStatus" type="PCDATA" />
            <xs:element name="HSMPartitionUsed" type="PCDATA" />
            <xs:element name="HSMPartitionFree" type="PCDATA" />
            <xs:element name="PrimaryHSMStatus" type="HSMDetailStatus" />
            <xs:element name="SecondaryHSMStatus" type="HSMDetailStatus" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HSMStatusList">
        <xs:sequence>
            <xs:element name="OverallStatus" type="PCDATA" />
            <xs:sequence minOccurs="0">
                <xs:choice>
                    <xs:element name="HSMStatus" type="HSMStatus" maxOccurs="unbounded" />
                    <xs:element name="HSMTokenStatus" type="HSMTokenStatus" maxOccurs="unbounded" />
                </xs:choice>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HSMTokenStatus">
        <xs:sequence>
            <xs:element name="HSMName" type="PCDATA" />
            <xs:element name="HSMPartitionUsed" type="PCDATA" />
            <xs:element name="HSMPartitionFree" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleEventRequest">
        <xs:sequence>
            <xs:element name="EventEP" type="PCDATA" />
            <xs:element name="EventResourceType" type="PCDATA" />
            <xs:element name="EventResourceName" type="PCDATA" minOccurs="0" />
            <xs:element name="EventTime" type="PCDATA" />
            <xs:element ref="SwInt:SNLId" />
            <xs:element ref="SwGbl:Status" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleFileEventRequest">
        <xs:sequence>
            <xs:element name="EventEP" type="PCDATA" />
            <xs:element name="FileStatus" type="FileStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleFileRequest">
        <xs:sequence>
            <xs:element name="FileRequestHandle" type="FileRequestHandle" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleFileResponse">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="FileResponse" type="FileResponse" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleInitRequest">
        <xs:sequence>
            <xs:element name="Environment" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleInitResponse">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="CryptoMode" type="PCDATA" />
            <xs:element name="FACryptoMode" type="PCDATA" minOccurs="0" />
            <xs:element name="CallbackOnError" type="PCDATA" minOccurs="0" />
            <xs:element name="ExplicitNamespaceAttributeMode" type="PCDATA" minOccurs="0" />
            <xs:element name="ErrorCodeMode" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleResponseInfoRequest">
        <xs:sequence>
            <xs:element name="ResponseInfoEP" type="PCDATA" />
            <xs:element ref="SwInt:SwiftRef" minOccurs="0" />
            <xs:element ref="SwInt:ResponseRef" minOccurs="0" />
            <xs:element ref="SwInt:SwiftResponseRef" minOccurs="0" />
            <xs:element name="TransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="LocalRef" type="PCDATA" minOccurs="0" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
            <xs:element ref="SwSec:SignatureList" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleSnFRequest">
        <xs:sequence>
            <xs:element name="SnFRequestHandle" type="SnFRequestHandle" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleSnFResponse">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="SnFResponse" type="SnFResponse" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HandleTermResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InitRequest">
        <xs:sequence>
            <xs:element name="CryptoMode" type="PCDATA" />
            <xs:element name="FACryptoMode" type="PCDATA" minOccurs="0" />
            <xs:element name="ExplicitNamespaceAttributeMode" type="PCDATA" minOccurs="0" />
            <xs:element name="ErrorCodeMode" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InitResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InputChannelCtrl">
        <xs:sequence>
            <xs:element name="InputChannel" type="PCDATA" />
            <xs:element name="SnFInputSeq" type="PCDATA" />
            <xs:element name="Token" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMACertInfoRequest">
        <xs:sequence>
            <xs:element name="FileName" type="PCDATA" />
            <xs:element name="Password" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMACertInfoResponse">
        <xs:sequence>
            <xs:element name="PswdExpiryDays" type="PCDATA" minOccurs="0" />
            <xs:element name="PswdLifeTime" type="PCDATA" minOccurs="0" />
            <xs:element name="UserPolicy" type="PCDATA" minOccurs="0" />
            <xs:element name="CertInfoList" type="CertInfoList" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMACertListRequest">
        <xs:sequence>
            <xs:element name="FileName" type="PCDATA" minOccurs="0" />
            <xs:element name="CertLocation" type="PCDATA" minOccurs="0" />
            <xs:element name="RequiredInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="ErrorHandling" type="PCDATA" minOccurs="0" />
            <xs:element name="PageSize" type="PCDATA" minOccurs="0" />
            <xs:element name="PageToken" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMACertListResponse">
        <xs:sequence>
            <xs:element name="CertList" type="CertList" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="PageToken" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMACertifyRequest">
        <xs:sequence>
            <xs:element name="AuthenticationCode" type="PCDATA" />
            <xs:element name="ReferenceCode" type="PCDATA" />
            <xs:element name="FileName" type="PCDATA" />
            <xs:element name="CertLocation" type="PCDATA" minOccurs="0" />
            <xs:element name="Password" type="PCDATA" />
            <xs:element name="CertRecover" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMACertifyResponse">
        <xs:sequence>
            <xs:element name="Node" type="PCDATA" minOccurs="0" />
            <xs:element name="CertPolicyId" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMAChangePasswordRequest">
        <xs:sequence>
            <xs:element name="FileName" type="PCDATA" />
            <xs:element name="CertLocation" type="PCDATA" minOccurs="0" />
            <xs:element name="OldPassword" type="PCDATA" />
            <xs:element name="Password" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KMAChangePasswordResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LAU">
        <xs:sequence>
            <xs:element name="LAUVal" type="PCDATA" />
            <xs:element name="LAUAlgo" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LastHeartbeat">
        <xs:sequence>
            <xs:element name="LastHeartbeatStatus" type="PCDATA" />
            <xs:element name="SendTime" type="PCDATA" minOccurs="0" />
            <xs:element name="AckTime" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListFileStatusRequest">
        <xs:sequence>
            <xs:element name="Partition" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferStatus" type="PCDATA" minOccurs="0" />
            <xs:element name="StoredTransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="MsgId" type="PCDATA" minOccurs="0" />
            <xs:element name="FullFileStatus" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="RecordCount" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListFileStatusResponse">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="FileStatus" type="FileStatus" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="EndOfList" type="PCDATA" />
                </xs:sequence>
                <xs:element ref="SwGbl:Status" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Member">
        <xs:sequence>
            <xs:element name="SnFInputSeq" type="PCDATA" />
            <xs:element name="MemberAcceptStatus" type="PCDATA" />
            <xs:element name="SnFRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwInt:NonRep" minOccurs="0" />
            <xs:element ref="SwInt:ValidationDescriptor" minOccurs="0" />
            <xs:element name="SnFInputInfo" type="SnFInputInfo" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberList">
        <xs:sequence>
            <xs:element name="Member" type="Member" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotifyFileRequestHandle">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="TransferDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="PossibleDuplicate" type="PCDATA" minOccurs="0" />
            <xs:element name="OrigTransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="LogicalName" type="PCDATA" />
            <xs:element name="FileDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="FileInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="Size" type="PCDATA" minOccurs="0" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotifyFileResponse">
        <xs:sequence>
            <xs:element name="AckMessage" type="AckMessage" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotifySnFRequestHandle">
        <xs:sequence>
            <xs:element name="SnFRef" type="PCDATA" />
            <xs:element name="SnFRefType" type="PCDATA" />
            <xs:element name="AcceptStatus" type="PCDATA" />
            <xs:element name="AckSwiftTime" type="PCDATA" />
            <xs:element name="AckDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="AckInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="OrigSnFRef" type="PCDATA" minOccurs="0" />
            <xs:element name="ThirdPartyDN" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotifySnFResponse">
        <xs:sequence>
            <xs:element name="AckMessage" type="AckMessage" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Object">
        <xs:sequence>
            <xs:element name="RND" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpenInputChannelSnFRequest">
        <xs:sequence>
            <xs:element name="InputChannel" type="PCDATA" />
            <xs:element name="WindowSize" type="PCDATA" minOccurs="0" />
            <xs:element name="ForcedOpenInd" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpenInputChannelSnFResponseHandle">
        <xs:sequence>
            <xs:element name="WindowSize" type="PCDATA" />
            <xs:element name="NextSnFInputSeq" type="PCDATA" />
            <xs:element name="Token" type="PCDATA" />
            <xs:element name="MemberList" type="MemberList" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PCDATA">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="PDIndication">
        <xs:sequence>
            <xs:element name="EmissionList" type="EmissionList" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessStatus">
        <xs:sequence>
            <xs:element name="Process" type="PCDATA" />
            <xs:element name="ProcessExpected" type="PCDATA" />
            <xs:element name="ProcessActual" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductInfo">
        <xs:sequence>
            <xs:element name="VendorName" type="PCDATA" />
            <xs:element name="ProductName" type="PCDATA" />
            <xs:element name="ProductVersion" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductList">
        <xs:sequence>
            <xs:element name="ProductInfo" type="ProductInfo" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PullSnFRequest">
        <xs:sequence>
            <xs:element ref="SwSec:AuthorisationContext" />
            <xs:element name="SnFRequestControl" type="SnFRequestControl" minOccurs="0" />
            <xs:element name="SnFSessionId" type="PCDATA" />
            <xs:element name="AckMessage" type="AckMessage" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PullSnFResponse">
        <xs:sequence>
            <xs:sequence minOccurs="0">
                <xs:choice>
                    <xs:element ref="SwInt:RequestHandle" />
                    <xs:element name="FileRequestHandle" type="FileRequestHandle" />
                    <xs:element name="SnFRequestHandle" type="SnFRequestHandle" />
                </xs:choice>
            </xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PutFileRequest">
        <xs:sequence>
            <xs:element name="TransferDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferInfo" type="PCDATA" minOccurs="0" />
            <xs:sequence minOccurs="0">
                <xs:element name="PossibleDuplicate" type="PCDATA" />
                <xs:element name="OrigTransferRef" type="PCDATA" minOccurs="0" />
            </xs:sequence>
            <xs:sequence minOccurs="0">
                <xs:element name="AckIndicator" type="PCDATA" />
                <xs:element name="AckServerInfo" type="ServerInfo" minOccurs="0" />
            </xs:sequence>
            <xs:element name="PhysicalName" type="PCDATA" />
            <xs:element name="LogicalName" type="PCDATA" minOccurs="0" />
            <xs:element name="FileDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="FileInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="Size" type="PCDATA" minOccurs="0" />
            <xs:element name="Digest" type="Digest" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PutFileRequestHandle">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="TransferDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="TransferInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="PossibleDuplicate" type="PCDATA" minOccurs="0" />
            <xs:element name="OrigTransferRef" type="PCDATA" minOccurs="0" />
            <xs:element name="AckIndicator" type="PCDATA" />
            <xs:element name="AckServerInfo" type="ServerInfo" minOccurs="0" />
            <xs:element name="LogicalName" type="PCDATA" />
            <xs:element name="FileDescription" type="PCDATA" minOccurs="0" />
            <xs:element name="FileInfo" type="PCDATA" minOccurs="0" />
            <xs:element name="Size" type="PCDATA" />
            <xs:element name="Digest" type="Digest" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PutFileResponse">
        <xs:sequence>
            <xs:element name="TransferAnswer" type="PCDATA" />
            <xs:choice>
                <xs:sequence>
                    <xs:element name="RejectDescription" type="PCDATA" minOccurs="0" />
                    <xs:element name="RejectInfo" type="PCDATA" minOccurs="0" />
                </xs:sequence>
                <xs:element name="PhysicalName" type="PCDATA" minOccurs="0" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PutFileResponseHandle">
        <xs:sequence>
            <xs:element name="TransferRef" type="PCDATA" />
            <xs:element name="TransferAnswer" type="PCDATA" />
            <xs:choice>
                <xs:sequence>
                    <xs:element name="RejectDescription" type="PCDATA" minOccurs="0" />
                    <xs:element name="RejectInfo" type="PCDATA" minOccurs="0" />
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="Size" type="PCDATA" />
                </xs:sequence>
            </xs:choice>
            <xs:element name="Digest" type="Digest" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueueInfo">
        <xs:sequence>
            <xs:element ref="SwSec:UserDN" />
            <xs:element ref="SwInt:SNLId" />
            <xs:element name="SessionMode" type="PCDATA" />
            <xs:element name="OrderBy" type="PCDATA" minOccurs="0" />
            <xs:element name="RecoveryMode" type="PCDATA" minOccurs="0" />
            <xs:element name="Subset" type="PCDATA" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RBACDescriptor">
        <xs:sequence>
            <xs:element name="Roles" type="RBACRoleInstance" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RBACQualifierValue">
        <xs:sequence>
            <xs:element name="QualifierName" type="PCDATA" />
            <xs:element name="Value" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RBACRoleInstance">
        <xs:sequence>
            <xs:element name="RoleName" type="PCDATA" />
            <xs:element name="Qualifier" type="RBACQualifierValue" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RMAFile">
        <xs:sequence>
            <xs:element name="RMAFileHdr" type="RMAFileHdr" />
            <xs:element name="RMARecrd" type="RMARecrd" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RMAFileHdr">
        <xs:sequence>
            <xs:element name="Bic8Lst" type="Bic8Lst" />
            <xs:element name="SvcLst" type="SvcLst" />
            <xs:element name="FileMaintncSts" type="PCDATA" />
            <xs:element name="FileDesc" type="PCDATA" />
            <xs:element name="CrDtTm" type="PCDATA" />
            <xs:element name="TltRecrd" type="PCDATA" />
            <xs:element name="LAU" type="LAU" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RMARecrd">
        <xs:sequence>
            <xs:element name="Tp" type="PCDATA" />
            <xs:element name="RMASts" type="PCDATA" />
            <xs:element ref="Doc:Issr" />
            <xs:element ref="Doc:Crspdt" />
            <xs:element ref="Doc:SvcNm" />
            <xs:element ref="Doc:IssdDtTm" minOccurs="0" />
            <xs:element ref="Doc:VldtyPrd" minOccurs="0" />
            <xs:choice>
                <xs:element ref="Doc:Permssn" minOccurs="0" />
                <xs:element ref="Doc:FINSvcPermssn" minOccurs="0" />
            </xs:choice>
            <xs:element ref="SwSec:Signature" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reference">
        <xs:sequence>
            <xs:element name="DigestRef" type="PCDATA" minOccurs="0" />
            <xs:element name="DigestAlgorithm" type="PCDATA" minOccurs="0" />
            <xs:element name="DigestValue" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReleaseSnFRequest">
        <xs:sequence>
            <xs:element name="SnFSessionId" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResolveGapSnFRequest">
        <xs:sequence>
            <xs:element name="InputChannel" type="PCDATA" />
            <xs:element name="SnFInputSeq" type="PCDATA" />
            <xs:element name="Token" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResolveGapSnFResponseHandle">
        <xs:sequence>
            <xs:element name="MemberAcceptStatus" type="PCDATA" />
            <xs:element name="OriginalSnFRef" type="PCDATA" minOccurs="0" />
            <xs:element ref="SwInt:NonRep" minOccurs="0" />
            <xs:element ref="SwInt:ValidationDescriptor" minOccurs="0" />
            <xs:element name="SnFInputInfo" type="SnFInputInfo" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SMAGetStatusRequest">
        <xs:sequence>
            <xs:element name="InstanceName" type="PCDATA" minOccurs="0" />
            <xs:sequence minOccurs="0">
                <xs:choice>
                    <xs:element name="SubSystemList" type="SubSystemList" />
                    <xs:element name="SubSystemGroupList" type="SubSystemGroupList" />
                </xs:choice>
            </xs:sequence>
            <xs:element name="HeartbeatIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="ConnectionIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="VersionIndicator" type="PCDATA" minOccurs="0" />
            <xs:element name="HSMIndicator" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SMAGetStatusResponse">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="SubSystems" type="SubSystems" />
                    <xs:element name="LastHeartbeat" type="LastHeartbeat" minOccurs="0" />
                    <xs:element name="Connectivity" type="Connectivity" minOccurs="0" />
                    <xs:element name="SNLVersion" type="SNLVersion" minOccurs="0" />
                    <xs:element name="HSMs" type="HSMStatusList" minOccurs="0" />
                </xs:sequence>
                <xs:element ref="SwGbl:Status" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SNLVersion">
        <xs:sequence>
            <xs:element name="SNLRelease" type="PCDATA" />
            <xs:element name="OSRelease" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServerInfo">
        <xs:sequence>
            <xs:element ref="SwInt:Responder" />
            <xs:element ref="SwInt:RequestType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFDeliveryHistory">
        <xs:sequence>
            <xs:element name="SnFDeliveryInfo" type="SnFDeliveryInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFDeliveryInfo">
        <xs:sequence>
            <xs:element name="SwiftTime" type="PCDATA" />
            <xs:element ref="SwSec:UserDN" />
            <xs:element name="SnFSessionId" type="PCDATA" />
            <xs:element ref="SwInt:SNLId" />
            <xs:element name="RetryReason" type="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFInputInfo">
        <xs:sequence>
            <xs:element name="SnFInputTime" type="PCDATA" minOccurs="0" />
            <xs:element name="SnFInputSeqRange" type="SnFInputSeqRange" minOccurs="0" />
            <xs:element name="OriginalSnFRef" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFInputSeqRange">
        <xs:sequence>
            <xs:element name="FirstSnFInputSeq" type="PCDATA" />
            <xs:element name="LastSnFInputSeq" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFOpRequest">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AcquireSnFRequest" type="AcquireSnFRequest" />
                <xs:element name="ReleaseSnFRequest" type="ReleaseSnFRequest" />
                <xs:element name="AckSnFRequest" type="AckSnFRequest" />
                <xs:element name="CreateInputChannelSnFRequest" type="CreateInputChannelSnFRequest" />
                <xs:element name="DeleteInputChannelSnFRequest" type="DeleteInputChannelSnFRequest" />
                <xs:element name="OpenInputChannelSnFRequest" type="OpenInputChannelSnFRequest" />
                <xs:element name="CloseInputChannelSnFRequest" type="CloseInputChannelSnFRequest" />
                <xs:element name="ResolveGapSnFRequest" type="ResolveGapSnFRequest" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFOpRequestHandle">
        <xs:sequence>
            <xs:element name="NotifySnFRequestHandle" type="NotifySnFRequestHandle" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFOpResponse">
        <xs:sequence>
            <xs:element name="NotifySnFResponse" type="NotifySnFResponse" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFOpResponseHandle">
        <xs:sequence>
            <xs:choice>
                <xs:element name="AcquireSnFResponseHandle" type="AcquireSnFResponseHandle" />
                <xs:element name="ReleaseSnFResponseHandle" type="Empty" />
                <xs:element name="AckSnFResponseHandle" type="Empty" />
                <xs:element name="CreateInputChannelSnFResponseHandle" type="Empty" />
                <xs:element name="DeleteInputChannelSnFResponseHandle" type="Empty" />
                <xs:element name="OpenInputChannelSnFResponseHandle" type="OpenInputChannelSnFResponseHandle" />
                <xs:element name="CloseInputChannelSnFResponseHandle" type="Empty" />
                <xs:element name="ResolveGapSnFResponseHandle" type="ResolveGapSnFResponseHandle" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFOutputInfo">
        <xs:sequence>
            <xs:element name="SnFSessionId" type="PCDATA" />
            <xs:element name="SnFOutputSeq" type="PCDATA" />
            <xs:element name="SnFPDMHistory" type="SnFDeliveryHistory" minOccurs="0" />
            <xs:element name="DeliveryTime" type="PCDATA" />
            <xs:element name="SnFInputTime" type="PCDATA" />
            <xs:element name="OverdueTime" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFRequest">
        <xs:sequence>
            <xs:element name="SnFRequestControl" type="SnFRequestControl" minOccurs="0" />
            <xs:element name="SnFOpRequest" type="SnFOpRequest" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFRequestControl">
        <xs:sequence>
            <xs:element ref="SwInt:NRIndicator" minOccurs="0" />
            <xs:element name="ProductList" type="ProductList" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFRequestDescriptor">
        <xs:sequence>
            <xs:choice>
                <xs:element name="SwiftTime" type="PCDATA" />
                <xs:sequence>
                    <xs:element ref="SwInt:NonRep" minOccurs="0" />
                    <xs:element ref="SwInt:MRRResult" minOccurs="0" />
                    <xs:element name="SnFOutputInfo" type="SnFOutputInfo" />
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFRequestHandle">
        <xs:sequence>
            <xs:element name="SnFRequestDescriptor" type="SnFRequestDescriptor" />
            <xs:element name="SnFOpRequestHandle" type="SnFOpRequestHandle" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFResponse">
        <xs:sequence>
            <xs:element name="SnFResponseControl" type="SnFResponseControl" minOccurs="0" />
            <xs:element name="SnFOpResponse" type="SnFOpResponse" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFResponseControl">
        <xs:sequence>
            <xs:element ref="SwInt:NRIndicator" minOccurs="0" />
            <xs:element name="ProductList" type="ProductList" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFResponseHandle">
        <xs:sequence>
            <xs:element name="SnFRequestDescriptor" type="SnFRequestDescriptor" minOccurs="0" />
            <xs:element name="SnFOpResponseHandle" type="SnFOpResponseHandle" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SnFStatus">
        <xs:sequence>
            <xs:element name="SessionStatus" type="PCDATA" />
            <xs:element ref="SwSec:UserDN" />
            <xs:element name="SessionMode" type="PCDATA" />
            <xs:element name="OrderBy" type="PCDATA" minOccurs="0" />
            <xs:element name="RecoveryMode" type="PCDATA" minOccurs="0" />
            <xs:element name="SnFOutputSeq" type="PCDATA" />
            <xs:element name="LastActivityTime" type="PCDATA" />
            <xs:element name="Subset" type="PCDATA" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StopReason">
        <xs:sequence>
            <xs:element ref="SwGbl:StatusAttributes" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubSystemGroupList">
        <xs:sequence>
            <xs:element name="SubSystemGroup" type="PCDATA" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubSystemList">
        <xs:sequence>
            <xs:element name="SubSystem" type="PCDATA" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubSystemStatus">
        <xs:sequence>
            <xs:element name="SubSystem" type="PCDATA" />
            <xs:element name="SubSystemStatusValue" type="PCDATA" />
            <xs:element name="ProcessStatus" type="ProcessStatus" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ExecutableStatus" type="ExecutableStatus" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubSystems">
        <xs:sequence>
            <xs:element name="OverallStatus" type="PCDATA" />
            <xs:element name="SubSystemStatus" type="SubSystemStatus" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscribeEventRequest">
        <xs:sequence>
            <xs:element name="EventEP" type="PCDATA" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscribeEventResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscribeFileEventRequest">
        <xs:sequence>
            <xs:element name="EventEP" type="PCDATA" />
            <xs:element name="AllFileEvents" type="PCDATA" minOccurs="0" />
            <xs:element name="FullFileStatus" type="PCDATA" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubscribeFileEventResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SvcLst">
        <xs:sequence>
            <xs:element ref="Doc:SvcNm" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeliveryNotif" type="PCDATA" />
    <xs:element name="AbortFileResponse" type="AbortFileResponse" />
    <xs:element name="ReturnSignatureList" type="PCDATA" />
    <xs:element name="SubscribeFileEventRequest" type="SubscribeFileEventRequest" />
    <xs:element name="SubscribeFileEventResponse" type="SubscribeFileEventResponse" />
    <xs:element name="ProductList" type="ProductList" />
    <xs:element name="HandleFileEventRequest" type="HandleFileEventRequest" />
    <xs:element name="ResponseE2EControl" type="E2EControl" />
    <xs:element name="SnFInputInfo" type="SnFInputInfo" />
    <xs:element name="GetFileDigestRequest" type="GetFileDigestRequest" />
    <xs:element name="SnFOutputInfo" type="SnFOutputInfo" />
    <xs:element name="GetFileDigestResponse" type="GetFileDigestResponse" />
    <xs:element name="InitRequest" type="InitRequest" />
    <xs:element name="HandleFileEventResponse" type="Empty" />
    <xs:element name="InitResponse" type="InitResponse" />
    <xs:element name="ExchangeSnFRequest" type="ExchangeSnFRequest" />
    <xs:element name="TermResponse" type="TermResponse" />
    <xs:element name="HandleInitRequest" type="HandleInitRequest" />
    <xs:element name="ExchangeSnFResponse" type="ExchangeSnFResponse" />
    <xs:element name="HandleInitResponse" type="HandleInitResponse" />
    <xs:element name="HandleTermResponse" type="HandleTermResponse" />
    <xs:element name="HandleTermRequest" type="Empty" />
    <xs:element name="HandleSnFRequest" type="HandleSnFRequest" />
    <xs:element name="TermRequest" type="Empty" />
    <xs:element name="HandleSnFResponse" type="HandleSnFResponse" />
    <xs:element name="PullSnFRequest" type="PullSnFRequest" />
    <xs:element name="PullSnFResponse" type="PullSnFResponse" />
    <xs:element name="GetSnFStatusRequest" type="GetSnFStatusRequest" />
    <xs:element name="GetSnFStatusResponse" type="GetSnFStatusResponse" />
    <xs:element name="HandleResponseInfoRequest" type="HandleResponseInfoRequest" />
    <xs:element name="KMACertifyRequest" type="KMACertifyRequest" />
    <xs:element name="KMACertifyResponse" type="KMACertifyResponse" />
    <xs:element name="KMACertInfoResponse" type="KMACertInfoResponse" />
    <xs:element name="KMAChangePasswordRequest" type="KMAChangePasswordRequest" />
    <xs:element name="KMAChangePasswordResponse" type="KMAChangePasswordResponse" />
    <xs:element name="KMACertListResponse" type="KMACertListResponse" />
    <xs:element name="KMACertListRequest" type="KMACertListRequest" />
    <xs:element name="KMACertInfoRequest" type="KMACertInfoRequest" />
    <xs:element name="GetDateTimeResponse" type="GetDateTimeResponse" />
    <xs:element name="Object" type="Object" />
    <xs:element name="HandleFileRequest" type="HandleFileRequest" />
    <xs:element name="HandleFileResponse" type="HandleFileResponse" />
    <xs:element name="FetchFileRequest" type="FetchFileRequest" />
    <xs:element name="FetchFileResponse" type="FetchFileResponse" />
    <xs:element name="GetFileStatusResponse" type="GetFileStatusResponse" />
    <xs:element name="ListFileStatusRequest" type="ListFileStatusRequest" />
    <xs:element name="ListFileStatusResponse" type="ListFileStatusResponse" />
    <xs:element name="AbortFileRequest" type="AbortFileRequest" />
    <xs:element name="GetFileStatusRequest" type="GetFileStatusRequest" />
    <xs:element name="SubscribeEventRequest" type="SubscribeEventRequest" />
    <xs:element name="HandleEventResponse" type="Empty" />
    <xs:element name="Reference" type="Reference" />
    <xs:element name="HandleEventRequest" type="HandleEventRequest" />
    <xs:element name="HandleResponseInfoResponse" type="Empty" />
    <xs:element name="SubscribeEventResponse" type="SubscribeEventResponse" />
    <xs:element name="OverdueWarningDelay" type="PCDATA" />
    <xs:element name="RMAFile" type="RMAFile" />
    <xs:element name="GetDateTimeRequest" type="Empty" />
    <xs:element name="SMAGetStatusRequest" type="SMAGetStatusRequest" />
    <xs:element name="ThirdPartyRefusalReason" type="Any" />
    <xs:element name="ThirdPartyToSenderInformation" type="Any" />
    <xs:element name="SMAGetStatusResponse" type="SMAGetStatusResponse" />
    <xs:element name="ExchangeFileRequest" type="ExchangeFileRequest" />
    <xs:element name="InputChannelCtrl" type="InputChannelCtrl" />
    <xs:element name="RequestE2EControl" type="E2EControl" />
    <xs:element name="ExchangeFileResponse" type="ExchangeFileResponse" />
    <xs:complexType name="TermResponse">
        <xs:sequence>
            <xs:element ref="SwGbl:Status" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>

